<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-lg-4 col-md-6 mb-3">
        <label for="purchase_order" class="form-label required">Purchase Order</label>
        <po-typeahead-input controlName="purchase_order" customId="purchase_order">
        </po-typeahead-input>
      </div>
      <div class="col-lg-4 col-md-6 mb-3">
        <label for="reference" class="form-label required">Delivery Note / Packaging List
          No.</label>
        <input type="text" class="form-control" id="reference" formControlName="reference_no">
      </div>
    </div>
  </div>

  <div class="container-fluid px-sm-0 px-md-3">
    <table class="table table-responsive table-bordered table-block-sm">
      <thead>
      <tr>
        <th class="product-column">Item</th>
        <th>M-PN</th>
        <th>PO Qty</th>
        <th>Already Delivered</th>
        <th class="qty-column">Qty Received</th>
      </tr>
      </thead>
      <tbody formArrayName="order_entries">
      <tr *ngFor="let group of this.orderEntriesForm.controls;let i=index" [formGroupName]="i">
        <td>
          <span class="td-inline-label">Item</span>
          <div class="d-flex flex-column">
            {{group.get('product')?.value?.item_code}}
            <small class="text-muted">
              {{
              group.get('product')?.value?.local_description
              || group.get('product')?.value?.description
              }}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">M-PN</span>
          {{group.get('product')?.value?.mpn}}
        </td>
        <td>
          <span class="td-inline-label">PO Qty</span>
          {{group.get('po_qty')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Delivered Qty</span>
          {{group.get('delivered_qty')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Qty Required</span>
          <input type="number" class="form-control" min="0" formControlName="qty">
        </td>
      </tr>


      <ng-container *ngIf="this.orderEntriesForm.length===0">
        <tr>
          <td colspan="7">
            <div class="py-5 text-center">
              <ng-container *ngIf="isBusy;else noData">
                <span class="loading-state-text">Retrieving related data</span>
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
              </ng-container>
              <ng-template #noData>
                Search purchase order to autofill request items
              </ng-template>
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

  </div>
  <div class="container-fluid">
    <div class="d-flex my-4">
      <button type="button" class="btn btn-primary btn-submit btn-lg" [disabled]="form.invalid"
              (click)="submitForm()">
        Submit
      </button>
    </div>
  </div>

</form>
