<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-lg-4 col-md-6 mb-3">
        <label for="purchase_order" class="form-label required">Purchase Order</label>
        <po-typeahead-input controlName="purchase_order" customId="purchase_order" with="items"
                            [includeDeliveredItems]="true" [undeliveredOnly]="true"
                            (change)="onPurchaseOrderSelected()">
        </po-typeahead-input>
      </div>
    </div>
  </div>

  <div class="container-fluid px-sm-0 px-md-3">
    <table class="table table-responsive table-bordered table-block-sm">
      <thead>
      <tr>
        <th class="product-column">Item</th>
        <th>M-PN</th>
        <th>PO Qty</th>
        <th>Delivered</th>
        <th>Received</th>
      </tr>
      </thead>
      <tbody formArrayName="items">
      <tr
        *ngFor="let group of this.goodsReceiptNoteItemsForm.controls|slice:tableCountStart:tableCountEnd"
        [formGroup]="$any(group)">
        <td>
          <span class="td-inline-label">Item</span>
          <div class="d-flex flex-column">
            {{group.get('product')?.value?.item_code}}
            <small class="text-muted">
              {{
              group.get('product')?.value?.local_description
              || group.get('product')?.value?.description
              }}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">M-PN</span>
          {{group.get('product')?.value?.manufacturer_part_number}}
        </td>
        <td>
          <span class="td-inline-label">PO Qty</span>
          {{group.get('po_item')?.value?.qty * group.get('po_item')?.value?.uom?.unit}}
        </td>
        <td>
          <span class="td-inline-label">Delivered Qty</span>
          {{group.get('delivered_qty')?.value}}
        </td>
        <td class="input-column">
          <span class="td-inline-label">Qty Required</span>
          <input type="number" class="form-control" min="0" formControlName="received_qty">
          <ng-container
            *ngIf="group.get('received_qty')?.touched && group.get('received_qty')?.errors">
            <small class="text-danger"
                   *ngIf="group.get('received_qty')?.hasError('max')">
              Cannot exceed {{group.get('received_qty')?.getError('max').max}}
            </small>
            <small class="text-danger"
                   *ngIf="group.get('received_qty')?.hasError('min')">
              Minimum allowed is  {{group.get('received_qty')?.getError('min').min}}
            </small>
          </ng-container>

        </td>
      </tr>


      <ng-container *ngIf="this.goodsReceiptNoteItemsForm.length===0">
        <tr>
          <td colspan="7">
            <div class="py-5 text-center">
              Search purchase order to autofill request items
            </div>
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="loadingMainContent">
        <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
          <td>
            <div class="placeholder w-100 py-3"></div>
          </td>
          <td>
            <div class="placeholder w-100 py-3"></div>
          </td>
          <td>
            <div class="placeholder w-100 py-3"></div>
          </td>
          <td>
            <div class="placeholder w-100 py-3"></div>
          </td>
          <td>
            <div class="placeholder w-100 h-100 py-3"></div>
          </td>
        </tr>
      </ng-container>

      </tbody>
    </table>
    <div class="pagination-col d-flex justify-content-end w-100 pr-5">
      <pagination [meta]="pagination"></pagination>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label for="warehouse_id" class="required form-label">Collection Point</label>
        <select id="warehouse_id" class="form-select" formControlName="warehouse">
          <option *ngFor="let warehouse of warehouses" [ngValue]="warehouse">
            {{warehouse.name}}
          </option>
        </select>
      </div>
      <div class="col-lg-4 mb-3">
        <label for="reference" class="form-label required">Delivery Note / Packaging List
          No.</label>
        <input type="text" class="form-control" id="reference" formControlName="reference">
      </div>
      <div class="col-12"></div>
      <div class="col-md-7 mb-3">
        <label for="remarks" class="form-label required">Remarks</label>
        <textarea id="remarks" class="form-control" rows="4" formControlName="remarks"></textarea>
      </div>
    </div>
    <div class="d-flex my-4">
      <ng-container *ngIf="formSubmissionBusy;else submitButton">
        <button type="button" disabled class="btn btn-primary btn-lg btn-submit">
          <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
          Please wait ...
        </button>
      </ng-container>
      <ng-template #submitButton>
        <button type="button" class="btn btn-primary btn-submit btn-lg" [disabled]="form.invalid"
                (click)="submitForm()">
          Submit
        </button>
      </ng-template>
    </div>
  </div>

</form>
