<app-content-header title="All Clients" [menuItems]="['Home','Clients']">
</app-content-header>

<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div class="col-sm-6 col-md-3 data-filters">
      <input type="text" class="form-control search" placeholder="Filter"
             [formControl]="clientSearchInput">
    </div>

    <div class="d-md-block">
      <button type="button" class="btn btn-outline-primary"
              (click)="showCreateForm()">
        + New Client
      </button>
    </div>

  </div>

</div>
<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Branch</th>
      <th>Region</th>
      <th>Location</th>
      <th>Contracts</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients|async">

      <td>
        <span class="td-inline-label">Name</span>
        {{client.name}}
      </td>
      <td>
        <span class="td-inline-label">Branch</span>
        {{client.branch}}
      </td>
      <td>
        <span class="td-inline-label">Region</span>
        {{client.region}}
      </td>
      <td>
        <span class="td-inline-label">Location</span>
        {{client.location}}
      </td>
      <td>
        <span class="td-inline-label">Contracts Total</span>
        <a routerLink="{{client.id}}/contracts" class="text-decoration-none">
          {{client.contracts_total}}
        </a>
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary custom-vertical-btn" id="dp" ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">

              <button ngbDropdownItem *ngIf="!client.parent_id" (click)="showCreateForm(client)">
                Add Branch
              </button>
              <button ngbDropdownItem (click)="showEditForm(client)">Edit</button>
              <button ngbDropdownItem (click)="deleteClient(client)">Delete</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<app-side-popup [(show)]="openFormSidePopup"
                [title]="this.model?.id?'Update Client Details':'Add Client Details'">

  <app-client-form [clients]="clients" [model]="this.model" [parent]="this.parent"
                   #clientFormComponent>
  </app-client-form>

  <div class="d-flex gap-2">

    <button type="button" class="btn btn-primary" *ngIf="!this.model?.id"
            (click)="saveClientForm(clientFormComponent.form)">
      CREATE
    </button>
    <button type="button" class="btn btn-primary" *ngIf="this.model?.id"
            (click)="saveClientForm(clientFormComponent.form)">
      UPDATE
    </button>
    <button type="button" class="btn btn-cancel"
            (click)="this.closeFormPopup(clientFormComponent.form)">
      CANCEL
    </button>
  </div>
</app-side-popup>
