<app-content-header title="All Roles" [menuItems]="['Home','Roles']">
</app-content-header>

<div class="container-fluid mt-5">

  <table class="table table-bordered bg-white">
    <thead>
    <tr>
      <th>SN</th>
      <th>Name</th>
      <th>Permissions</th>
      <th>Description</th>
      <th>Created By</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of roles|async; let i=index">
      <td>{{i + 1}}</td>
      <td>{{role.name}}</td>
      <td class="permissions-cell">
        <span *ngFor="let p of role.permissions" class="badge bg-secondary permission-badge">
          {{p.name}}
        </span>
      </td>
      <td>
        {{role.description}}
      </td>
      <td>{{role?.created_by?.first_name}} {{role?.created_by?.last_name}}</td>
      <td class="d-grid gap-4 d-md-block">
        <a routerLink="edit/{{role.id}}" class="btn btn-sm btn-primary">Edit</a>
        <button class="btn btn-sm btn-outline-danger">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>


</div>
