<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 gap-2 flex-wrap-reverse">
    <div class="col-sm-6 col-md-4 data-filters">
      <input type="text" class="form-control search" placeholder="Filter"
             [formControl]="roleFilterControl">
    </div>

    <div class="d-md-block">
      <a routerLink="/main/roles/create" class="btn btn-outline-primary">+ New role</a>
    </div>

  </div>

</div>
<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Permissions</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let role of (this.isSearching? this.filteredRoles: roles)|async; let i=index">

      <td>
        <span class="td-inline-label">Name</span>
        {{role.name}}
      </td>
      <td>
        <span class="td-inline-label">Description</span>
        {{role.description}}
      </td>
      <td>
        <span class="td-inline-label">Permission</span>
        <div class="permissions-cell d-flex flex-wrap gap-2 w-100">
        <span *ngFor="let p of role.permissions" class="badge bg-secondary permission-badge">
          {{p.name}}
        </span>
        </div>
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <a routerLink="edit/{{role.id}}" class="btn btn-sm btn-outline-primary">Edit</a>
          <button class="btn btn-sm btn-outline-danger">Delete</button>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="isSearching && (this.filteredRoles|async)?.length===0;">
      <tr class="no-data">
        <td colspan="4" class="py-3"> No data matching the criteria</td>
      </tr>
    </ng-container>
    </tbody>
  </table>


</div>
