<app-content-header title="Purchase Requests"
                    [menuItems]="['Home','Purchase Requests','Verification']">
</app-content-header>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div class="col-sm-6 col-md-4 col-lg-3 data-filters">
      <input type="text" class="form-control search" placeholder="Filter by requestor's name"
             [formControl]="searchInput">
    </div>

  </div>
</div>

<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Request No.</th>
      <th>Total Items</th>
      <th>Requested On</th>
      <th>Requested By</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of purchaseRequests|async">
      <td>
        <span class="td-inline-label">Request No.</span>
        <a [routerLink]="request.id" class="text-decoration-none">
          {{formatRequestId(request.order_id!)}}
        </a>
      </td>
      <td>
        <span class="td-inline-label">Total Items</span>
        {{request.items!.length}}
      </td>

      <td>
        <span class="td-inline-label">Requested On</span>
        {{request.created_at|date}}
      </td>
      <td>
        <span class="td-inline-label">Requested By</span>
        {{request?.created_by?.first_name}} {{request?.created_by?.last_name}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <a routerLink="{{request.id}}" class="btn btn-outline-primary btn-sm">view</a>
        </div>
      </td>
    </tr>
    <ng-container *ngIf="(purchaseRequests|async)?.length===0">
      <tr>
        <td class="text-center py-3" colspan="5">
          No items pending action.
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
</div>
