<div class="row filter-bar">
  <div class="row col-md-10">
    <div class="col-md-3 mb-3">
      <label>Customer</label>
      <ng-select [multiple]="true" [minTermLength]="2" [items]="customers" class="custom-select"
                 [typeahead]="customerSearch$" typeToSearchText="Please enter 2 or more characters"
                 [trackByFn]="customersTrackByFn" [loading]="customerSearchBusy"
                 placeholder="Select customers" [(ngModel)]="model.customers">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items|slice:0:1">
              <span class="ng-value-label">
                {{$any(item)?.name}}| {{$any(item)?.branch}}

              </span>
          </div>
          <div class="ng-value" *ngIf="items.length>1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
          </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index" let-item$="item$">
          <input type="checkbox" id="item-{{index}}" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone:true}" class="form-check-inline">
          {{$any(item)?.name}} | {{$any(item)?.branch}}
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-3 mb-3">
      <label>Created By</label>

      <ng-select [multiple]="true" [minTermLength]="2" [items]="users"
                 [typeahead]="userSearch$" typeToSearchText="Please enter 2 or more characters"
                 [trackByFn]="userTrackByFn" [loading]="userSearchBusy"
                 placeholder="Select user" [(ngModel)]="model.users">

        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items|slice:0:1">
              <span class="ng-value-label">
                {{$any(item)?.first_name}} {{$any(item)?.last_name}}
              </span>
          </div>

          <div class="ng-value" *ngIf="items.length>1">
            <span class="ng-value-label">{{items.length - 1}} more...</span>
          </div>

        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-ix="index" let-item$="item$">
          <input type="checkbox" id="item-{{ix}}" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone:true}" class="form-check-inline">
          {{$any(item)?.first_name}} {{$any(item)?.last_name}}
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-3 mb-3">
      <label>Created After</label>
      <input type="date" class="form-control" [(ngModel)]="model.start_date"
             [max]="dateFiltersMax" (change)="onStartDateChange()">
    </div>

    <div class="col-md-3 mb-3">
      <label>Created Before</label>
      <input type="date" class="form-control" [(ngModel)]="model.end_date"
             [min]="endDateFilterMin" [max]="dateFiltersMax">
    </div>

    <div class="col-md-3 mb-3">
      <label>Entry Category</label>
      <ng-select [multiple]="true" [items]="entryCategories" class="custom-select" bindLabel="title"
                 [(ngModel)]="model.entryCategories">
        <ng-template ng-option-tmp let-item="item" let-iy="index" let-item$="item$">
          <input type="checkbox" id="item-{{iy}}" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone:true}" class="form-check-inline">
          {{item.title}}
        </ng-template>
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <ng-container *ngIf="entryCategories.length!==items.length">
            <div class="ng-value" *ngFor="let item of items|slice:0:1">
              <span class="ng-value-label">{{$any(item)?.title}}</span>
            </div>
            <div class="ng-value" *ngIf="items.length>1">
              <span class="ng-value-label">{{items.length - 1}} more...</span>
            </div>
          </ng-container>
          <div class="ng-value" *ngIf=" entryCategories.length===items.length">
            <span class="ng-value-label">All categories ({{items.length}})</span>
          </div>
        </ng-template>
      </ng-select>
    </div>

  </div>
  <div class="col-md-2 mb-3">
    <div class="d-flex gap-2 flex-row mt-1 pt-4">
      <button class="btn btn-dark" (click)="applyFilters()"
              [disabled]="!hasFilters && !hasAppliedFilters">
        APPLY
      </button>
      <button class="btn btn-dark-outline" (click)="clearFilters()" *ngIf="hasAppliedFilters">
        CLEAR
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</div>
