<ng-container *ngIf="!this.passwordResetInitiated;else emailSentFeedback">
  <form (submit)="resetPassword($event)">
    <div class="text-center">
      <h1 class="title">Reset your password </h1>
    </div>
    <ng-container *ngIf="this.flashMessage;else spacingPlaceholder">
      <div class="col-12 mb-3 d-flex alert error justify-content-between align-items-center">
        <div class="message">
          {{flashMessage}}
        </div>
        <div class="alert-actions">
          <div role="button" class="alert-close" (click)="flashMessage=null">×</div>
        </div>
      </div>
    </ng-container>
    <ng-template #spacingPlaceholder>
      <div class="col-12 pb-3"></div>
    </ng-template>
    <div class="col-12 mb-3">
      <label class="form-label pb-2" for="email">
        Enter your email address and we will send you a password reset link.
      </label>
      <input type="email" [formControl]="emailFormControl" class="form-control"
             placeholder="Email" id="email" autocomplete="username">
      <span class="help-text text-danger" *ngIf="emailFormControl.getError('404')">
        {{emailFormControl.getError('404')}}
      </span>
    </div>

    <div class="col-12 d-flex justify-content-start">
      <a routerLink="/login" class="text-sm-end">
        <small>Sign in instead</small>
      </a>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <ng-container *ngIf="submitting;else submitButton">
        <button type="button" class="btn btn-primary" disabled>
          Please wait ...
        </button>
      </ng-container>
      <ng-template #submitButton>
        <button type="submit" class="btn btn-primary" (click)="resetPassword($event)">
          Send password reset email
        </button>
      </ng-template>
    </div>
  </form>
</ng-container>

<ng-template #emailSentFeedback>

  <h1 class="title mb-3">Account recovery email sent</h1>
  <p> If you don’t see this email in your inbox within 15 minutes, look for it in your junk mail
    folder.</p>
  <p class="text-muted">If you find it there, please mark it as “Not Junk”.</p>
  <div class="col-12 d-flex justify-content-start">
    <a routerLink="/login" class="text-sm-end">
      <small>Sign in instead</small>
    </a>
  </div>
</ng-template>
