<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div class="data-filters d-flex gap-2 col-md-6">
      <div class="col-md-5 mb-1">
        <input type="text" class="form-control search" [formControl]="searchInput"
               placeholder="Search by serial number">
      </div>
      <div class="col-md-4 mb-1">

      </div>
    </div>

    <div class="col-md-5 gap-2 justify-content-end d-flex">
      <div class="d-md-block">
        <button type="button" class="btn btn-outline-primary" *can="'productItems.create'"
                (click)="openCreateForm()">
          + New Product Item
        </button>
      </div>
      <div class="d-md-block ">
        <a type="button" class="btn btn-outline-success d-none" routerLink="create"
           *can="'productItems.create'">
          + Bulk Items Entry
        </a>
      </div>
    </div>

  </div>
</div>
<div class="container-md-fluid mt-3">
  <table class="table table-hover table-block-sm table-bordered">
    <thead>
    <tr>
      <th class="product-column">Item</th>
      <th>Serial Number</th>
      <th>Location</th>
      <th>Warrant</th>
      <th>Working Status</th>
      <th class="actions-column"></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let item of productItems|slice:tableCountStart:tableCountEnd|filter:this.searchInput.value">
      <td>
        <span class="td-inline-label">Item</span>
        <div class="d-flex flex-column">
          {{item?.product?.item_code}}
          <small class="text-muted">
            {{item?.product?.local_description || item?.product?.description}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Serial Number</span>
        {{item.serial_number}}
      </td>
      <td>
        <span class="td-inline-label">Location</span>
        {{item?.latest_activity?.location?.name }}
        <div>
          <small>
            {{item?.latest_activity?.location?.branch }}
            {{item?.latest_activity?.location?.region ? '|' : ''}}
            {{item?.latest_activity?.location?.region }}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Warrant</span>
        <div class="d-flex flex-column">
          <small>{{item?.active_warrant?.warrant_start|date}}</small>
          <small *ngIf="item?.active_warrant" class="text-muted">to</small>
          <ng-container *ngIf="item?.active_warrant?.warrant_end">
            <small>{{item?.active_warrant?.warrant_end|date}}</small>
          </ng-container>

          <ng-container *ngIf="item?.active_warrant && !item?.active_warrant?.warrant_end">
            <small>N/A</small>
          </ng-container>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Working Status</span>
        {{item.out_of_order ? 'Out of order' : 'Good condition'}}
      </td>
      <td>
        <div class="d-flex flex-column gap-2">
        </div>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary border-0 hide-dropdown-toggle border-0"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">
              <a routerLink="{{item.id}}/activities" ngbDropdownItem
                 *can="'productItemActivity.view'">
                View all activity logs
              </a>
              <ng-container *can="'purchaseOrder.view'">
                <a ngbDropdownItem *ngIf="item.purchase_order_id"
                   routerLink="../purchase-orders/history/{{item.purchase_order_id}}">
                  View purchase order
                </a>
              </ng-container>
              <ng-container *can="'contracts.view'">
                <a ngbDropdownItem *ngIf="item?.latest_activity?.customer_contract_id"
                   routerLink="../customer-contracts/history/1">
                  View contract
                </a>
              </ng-container>
              <button ngbDropdownItem (click)="showEditItemForm(item)" *can="'productItems.edit'">
                Edit Item
              </button>
            </div>
          </div>
        </div>
      </td>

    </tr>

    <ng-container *ngIf="productItems.length===0">
      <tr>
        <td class="text-center py-5" colspan="9">
          <ng-container *ngIf="!searchInput.value;else noResults">
            There is no product items.&nbsp;
            <a class="text-decoration-none" (click)="openCreateForm()" *can="'productItems.create'">
              Click to add a new item
            </a>
          </ng-container>
          <ng-template #noResults>
            No data matching filtered criteria
          </ng-template>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination" (pageChange)="loadProductItems()"></pagination>
  </div>
</div>

<app-side-popup [(show)]="showProductItemFormPopup"
                [title]="form.value.id?'Update Machine Item Details':'Add Machine Item Details'">

  <div class="row" [formGroup]="form">
    <div class="mb-3 col-md-6">
      <label class="form-label required">Product Model</label>
      <ng-container *ngIf="machineCategory">
        <product-typeahead-input customId="parent" controlName="product"
                                 [category]="machineCategory">
        </product-typeahead-input>
      </ng-container>
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label required">Serial Number</label>
      <input type="text" class="form-control" formControlName="serial_number">
    </div>
    <div class="mb-3 col-md-6" *ngIf=" !form.value.id">
      <label class="form-label required">Current Location</label>
      <select class="form-select" (change)="locationFormChange()"
              formControlName="current_location">
        <option *ngFor="let loc of productItemLocations" [value]="loc.value">
          {{loc.title}}
        </option>
      </select>
    </div>
    <div class="mb-3 col-md-6" *ngIf="this.itemOutsideWarehouse && !form.value.id">
      <label class="form-label required" for="customer">Customer</label>
      <customer-typeahead-input controlName="customer" customId="customer">
      </customer-typeahead-input>
    </div>
    <div class="mb-3 col-md-6" *ngIf="this.itemOutsideWarehouse && !form.value.id">
      <label class="form-label">Current contract</label>
      <select class="form-select" formControlName="contract">

      </select>
    </div>
    <div class="mb-3 col-md-6" *ngIf="!this.itemOutsideWarehouse && !form.value.id">
      <label class="form-label required" id="warehouse">Warehouse</label>
      <select class="form-select" formControlName="warehouse">
        <option *ngFor="let warehouse of warehouses" [ngValue]="warehouse">
          {{warehouse.name}}
        </option>
      </select>
    </div>

    <div class="mb-3 col-md-6">
      <label class="form-label">Purchase Order</label>
      <po-typeahead-input controlName="purchase_order" customId="purchase_order">
      </po-typeahead-input>
    </div>

    <div class="mb-3 col-md-6" *ngIf="this.itemOutsideWarehouse && !form.value.id">
      <label class="form-label">Warrant Start</label>
      <input type="date" class="form-control" formControlName="warrant_start">
    </div>
    <div class="mb-3 col-md-6" *ngIf="this.itemOutsideWarehouse  && !form.value.id">
      <label class="form-label">Warrant End</label>
      <input type="date" class="form-control" formControlName="warrant_end"
             [min]="minAllowedWarrantEndDate">
    </div>
    <div class="mb-3 col-md-6" *ngIf="!this.itemOutsideWarehouse ">
      <label class="form-label required">Working Status</label>
      <select class="form-select" formControlName="out_of_order">
        <option [ngValue]="false">In good condition</option>
        <option [ngValue]="true">Out of order</option>
      </select>
    </div>
  </div>
  <div class="d-flex gap-2 mt-2">

    <button type="button" class="btn btn-primary" *ngIf="!form.value.id" (click)="submitForm()"
            [disabled]="form.invalid">
      CREATE
    </button>

    <button type="button" class="btn btn-primary" *ngIf="form.value.id"
            [disabled]="form.invalid||!form.dirty"
            (click)="submitForm()">
      UPDATE
    </button>

    <button type="button" class="btn btn-cancel" (click)="this.closeProductItemFormPopup()">
      CANCEL
    </button>
  </div>
</app-side-popup>
