<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">

  </div>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label for="request_id" class="form-label">Request No.</label>
      <input type="text" class="form-control" disabled id="request_id"
             [value]="requestModel?.sn">
    </div>

    <div class="col-md-4 mb-3">
      <label for="name" class="form-label">Requested By</label>
      <input type="text" class="form-control" disabled id="name"
             [value]="name">
    </div>
    <div class="col-md-4 mb-3">
      <label for="created_at" class="form-label">Created On</label>
      <input type="text" class="form-control" disabled id="created_at"
             [value]="requestModel?.created_at|date">
    </div>

    <ng-container *ngIf="requesterRemarks">
      <div class="col-md-4 mb-3">
        <label for="a_remarks" class="form-label">Requestor Remarks</label>
        <textarea id="a_remarks" class="form-control" disabled>{{requesterRemarks}}</textarea>
      </div>
    </ng-container>

    <ng-container *ngIf="verifierRemarks">
      <div class="col-md-4 mb-3">
        <label for="b_remarks" class="form-label">Verification Remarks</label>
        <textarea id="b_remarks" class="form-control" disabled>{{verifierRemarks}}</textarea>
      </div>
    </ng-container>

    <ng-container *ngIf="approverRemarks">
      <div class="col-md-4 mb-3">
        <label for="c_remarks" class="form-label">Approval Remarks</label>
        <textarea id="c_remarks" class="form-control" disabled>{{approverRemarks}}</textarea>
      </div>
    </ng-container>
  </div>

  <table class="table table-striped table-responsive table-bordered table-block-sm">
    <thead>
    <tr>
      <th>Item</th>
      <th>Purpose</th>
      <th>Client</th>
      <th>Qty Approved</th>
      <th>Qty Issued</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of requestItems|slice:tableCountStart:tableCountEnd">
      <td>
        <span class="td-inline-label">Item</span>
        <div class="d-flex flex-column">
          {{item.product?.item_code}}
          <small class="text-muted">
            {{item.product?.local_description || item?.product?.description}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Purpose</span>
        {{item.purpose_title}}
      </td>
      <td>
        <span class="td-inline-label">Client</span>
        <div class="d-flex flex-column">
          {{item?.customer?.name}}
          <small class="text-muted">
            {{item?.customer?.branch || item?.customer?.region}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Qty Approved</span>
        <div class="text-sm-center"> {{item.approved_qty}}</div>
      </td>
      <td>
        <span class="td-inline-label">Qty Issued</span>
        <div class="text-sm-center"
             [ngClass]="(item?.approved_qty||0) > (item?.issued_qty||0)?'text-danger':'text-success'">
          {{item?.issued_qty || 0}}
        </div>
      </td>

      <td>
        <ng-container *ngIf="!this.cartButtonBusy;else cartBusy">
          <button type="button" class="btn btn-sm btn-outline-success"
                  (click)="openIssuePopupForm(item)">
            <fa-icon [icon]="faCartPlus"></fa-icon>
            Issue
          </button>
        </ng-container>

        <ng-template #cartBusy>
          <button type="button" class="btn btn-sm btn-outline-success">
            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            please wait..
          </button>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination"></pagination>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="remarks" class="form-label">Remarks</label>
      <textarea id="remarks" class="form-control" [formControl]="remarksControl"></textarea>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-lg btn-submit"
              (click)="submitOrderFulfillment()">
        Submit
      </button>
    </div>
  </div>
</div>

<app-side-popup [(show)]="showIssueFormPopup" [title]="issueFormPopupTitle"
                [isFullScreen]="!selectedItemIsSpare"
                *ngIf="selectedOrderItem && showIssueFormPopup">

  <ng-container *ngIf="selectedItemIsSpare">
    <ng-container *ngIf="spareAllotmentForm(selectedOrderItem) as group">
      <form class="row" [formGroup]="group">
        <div class="col-md-6 mb-3">
          <label for="ns" class="form-label">Total new spare issued</label>
          <input type="number" id="ns" min="0" class="form-control" formControlName="unused_total">
          <small class="text-danger"
                 *ngIf="group.get('unused_total')?.touched &&
                        group.get('unused_total')?.getError('max')">
            Max quantity available/allowed is {{  group.get('unused_total')?.getError('max').max}}
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="os" class="form-label">Total old spare issued</label>
          <input type="number" id="os" min="0" class="form-control" formControlName="used_total">
          <small class="text-danger"
                 *ngIf="group.get('used_total')?.touched &&
                        group.get('used_total')?.getError('max')">
            Max quantity available/allowed is {{  group.get('used_total')?.getError('max').max}}
          </small>
        </div>
        <div class="col-12 d-flex gap-2">
          <button type="submit" class="btn btn-primary"
                  (click)="saveOrderItemSpareIssue(selectedOrderItem)">
            Done
          </button>

          <button type="button" class="btn btn-cancel" (click)="showIssueFormPopup=false">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!selectedItemIsSpare">
    <form [formGroup]="machineOrderItemsFormGroup(selectedOrderItem.id)!">

      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Serial Number</th>
          <th>Warrant Start</th>
          <th>Warrant End</th>
          <th></th>
        </tr>
        </tbody>
        <tbody formArrayName="allotted_machines">
        <ng-container
          *ngFor="let grp of this.machineAllottedItemsForm(selectedOrderItem)?.controls;let i=index">
          <tr [formGroup]="$any(grp)">
            <td>
              <ng-container *ngIf="selectedOrderItem && getWarehouseById(requestModel?.warehouse_id)">

                <product-item-typeahead-input controlName="product_serial"
                                              [warehouse]="getWarehouseById(requestModel!.warehouse_id!)!"
                                              [outOfOrder]="false"
                                              [product_id]="selectedOrderItem.product_id">
                </product-item-typeahead-input>

                <small class="text-danger"
                       *ngIf="grp.get('product_serial')?.touched &&
                        grp.get('product_serial')?.getError('duplicated')">
                  Serial number already selected
                </small>
              </ng-container>

            </td>
            <td>
              <input type="date" class="form-control" formControlName="warrant_start">
            </td>
            <td>
              <input type="date" class="form-control" formControlName="warrant_end">
            </td>
            <td>
              <button type="button" class="btn btn-secondary"
                      (click)="removeMachineAllottedItemFormGroup(selectedOrderItem,i)">
                <fa-icon [icon]="faTrashAlt"></fa-icon>
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <div class="my-3 d-flex justify-content-end">
        <button class="btn btn-outline-success"
                (click)="this.addMachineAllottedItemFormGroup(selectedOrderItem)"
                [disabled]="!this.canAddMachineAllottedItemForm(selectedOrderItem)">
          + New item
        </button>
      </div>

      <div class="col-12 d-flex gap-2 my-5">
        <button type="button" class="btn btn-primary"
                (click)="saveOrderItemMachineIssue(selectedOrderItem)">
          Done
        </button>

        <button type="button" class="btn btn-cancel" (click)="showIssueFormPopup=false">
          Cancel
        </button>
      </div>
    </form>
  </ng-container>
</app-side-popup>
