<app-search-input [path]="path" [resultTemplate]="resultTemplate" [queryParams]="this.queryParams"
                  [controlName]="controlName" [control]="control"
                  [outputFormatter]="outputFormatter">
</app-search-input>

<ng-template let-results="result" #resultTemplate>
  <ng-container *ngIf="results;else noResultsTemplate">
    <div class="title">
      {{results.item_code}}
    </div>
    <div class="subtitle ">
      {{results.local_description || results.description}}
    </div>
  </ng-container>
</ng-template>

<ng-template #noResultsTemplate>
  No results found
</ng-template>
