<form class="row" *ngIf="true" [formGroup]="form">
  <div class="col-md-6 mb-3">
    <label for="first_name" class="form-label required">First Name</label>
    <input type="text" id="first_name" class="form-control" formControlName="last_name">
  </div>

  <div class="col-md-6 mb-3">
    <label for="last_name" class="form-label">Last Name</label>
    <input type="text" id="last_name" class="form-control" formControlName="last_name">
  </div>

  <div class="col-md-6 mb-3">
    <label for="email" class="form-label required">Email</label>
    <input type="email" id="email" class="form-control" formControlName="email">
  </div>

  <div class="col-md-6 mb-3">
    <label for="role" class="form-label required">Role</label>
    <select name="role" id="role" class="form-select" formControlName="role_id">
      <option *ngFor="let role of roles|async" value="{{role.id}}">{{role.name}}</option>
    </select>
  </div>
</form>
