<form [formGroup]="form">
  <div class="container-fluid mt-4">

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="customer" class="form-label required">Customer</label>
        <customer-typeahead-input controlName="customer" customId="customer"
                                  (change)="onCustomerSelection()">
        </customer-typeahead-input>
      </div>
      <div class="col-md-4 mb-3">
        <label for="reference" class="form-label required">Worksheet Number</label>
        <input type="text" id="reference" class="form-control" formControlName="reference">
      </div>

    </div>
    <div class="section-title mb-3 mt-3 col-12">
      Worksheet Entries
    </div>

    <table class="table table-bordered table-hover table-block-sm">
      <thead>
      <tr>
        <th class="entry-column">Entry Category</th>
        <th>Work Description</th>
        <th>Total Machines/Spares</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <tr
        *ngFor="let group of entriesFormArray.controls">
        <td>
          <span class="td-inline-label">Entry Category</span>
          {{group.get('category')?.value?.title}}
        </td>
        <td>
          <span class="td-inline-label">Work Description</span>
          {{group.get('description')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Total Machines/Spares  : </span>
          {{group.get('productItems')?.value?.length || 0}}/
          {{worksheetEntryTotalSpares($any(group))}}
        </td>
        <td>
          <div class="d-flex justify-content-end w-100 gap-2">
            <button type="btn" class="btn btn-outline-dark btn-sm action-btn pe-3 ps-3"
                    (click)="editWorksheetEntry($any(group))">
              Edit
            </button>
            <button type="btn" class="btn btn-outline-danger btn-sm action-btn"
                    (click)="removeWorksheetEntry($any(group))">
              Remove
            </button>
          </div>
        </td>
      </tr>
      <ng-container *ngIf="entriesFormArray.length===0">
        <tr>
          <td colspan="5" class="text-center py-5">
            <ng-container *ngIf="form.value.customer;else noDataWithCustomer">
              No item added. Click
              <a class="text-decoration-none" (click)="showAddWorksheetEntryForm()">&nbsp;here&nbsp;</a>
              to add
            </ng-container>
            <ng-template #noDataWithCustomer>
              Select a customer to add worksheet entries
            </ng-template>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div class="d-flex justify-content-end mb-3">
      <button type="btn" class="btn btn-outline-primary" [disabled]="!form.value.customer"
              (click)="showAddWorksheetEntryForm()">
        + Add new entry
      </button>
    </div>

    <div class="d-flex justify-content-start mt-5">
      <button type="btn" class="btn btn-primary btn-lg btn-submit" (click)="submitForm()"
              [disabled]="form.invalid">
        Submit
      </button>
    </div>

  </div>

</form>

<app-side-popup [(show)]="showAddWorksheetEntryFormPopup" title="New Worksheet Entry">
  <div class="row" [formGroup]="worksheetEntryForm">

    <div class="col-md-6 mb-3">
      <label for="entry_category" class="form-label required">Entry Category</label>
      <select id="entry_category" class="form-select" formControlName="category"
              [compareWith]="selectedEntryCategoryComparator" (change)="onFormEntryCategorySelection()">
        <option *ngFor="let category of workCategories" [ngValue]="category">
          {{category.title}}
        </option>
      </select>
    </div>


    <div class="col-md-6 mb-3">
      <label for="machines_worked_on" class="form-label required">Machines worked on</label>
      <ng-select [items]="customerMachines" bindLabel="serial_number" [multiple]="true"
                 formControlName="productItems" labelForId="machines_worked_on">
        <ng-container *ngIf="customerMachines.length>0">
          <ng-template ng-header-tmp>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="selected-all"
                     (change)="onProductItemsSelectAllToggle($event)"
                     [checked]="customerMachines.length===worksheetEntryForm.value.productItems.length">
              <label class="form-check-label" for="selected-all">
                <small>Select All</small>
              </label>
            </div>
          </ng-template>

        </ng-container>
        <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
          <input type="checkbox" id="item-{{index}}" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone:true}" class="form-check-input">
          {{item.serial_number}}
        </ng-template>
      </ng-select>
    </div>

    <ng-container *ngIf="machineRepairCategorySelected">
      <div class="section-title my-3 col-12">Spares utilized</div>

      <div formArrayName="repairItems">
        <div class="p-3 mb-3 repair-item-entry"
             *ngFor="let group  of spareItemsFormArray.controls;index as i;first as f"
             [formGroup]="$any(group)">
          <div class="row">
            <div class="group-header col-12" *ngIf="!f">
              <div class="action-group">
                  <span class="icon-button btn-delete " role="button"
                        (click)="removeSpareItemFormGroup(i)">
                <fa-icon [icon]="faWindowClose" class="text-danger"></fa-icon>
              </span>
              </div>
            </div>
            <ng-container *ngIf="spareProductCategory">
              <div class="col-md-6 mb-3">
                <label for="product_{{i}}" class="form-label">Item</label>
                <product-typeahead-input controlName="product" [category]="spareProductCategory"
                                         customId="product_{{i}}">
                </product-typeahead-input>
              </div>
            </ng-container>
            <div class="col-md-6"></div>
            <div class="col-md-6 mb-3">
              <label for="new_total_{{i}}" class="form-label">Total new spare used</label>
              <input type="number" min="0" id="new_total_{{i}}" class="form-control"
                     formControlName="new_total">
            </div>
            <div class="col-md-6 mb-3">
              <label for="old_total_{{i}}" class="form-label">Total old spare used</label>
              <input type="number" min="0" id="old_total_{{i}}" class="form-control"
                     formControlName="old_total">
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end my-2">
        <button type="button" class="btn btn-outline-dark" (click)="addSpareItemFormGroup()">
          + Add spare item
        </button>
      </div>

    </ng-container>

    <div class="col-12"></div>
    <div class="col-md-12 my-3">
      <label for="work_description" class="form-label required">Work Description</label>
      <textarea id="work_description" class="form-control" rows="4"
                formControlName="description"></textarea>
    </div>
    <div class="col-12 my-2">
      <button type="button" class="btn btn-primary" (click)="addWorksheetEntry()"
              [disabled]="worksheetEntryForm.invalid">
        ADD ENTRY
      </button>
    </div>
  </div>
</app-side-popup>
