<form [formGroup]="form">
  <div class="container-fluid mt-4">

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="client" class="form-label required">Client</label>
        <customer-typeahead-input controlName="client" customId="client"
                                  (change)="onClientSelection()">
        </customer-typeahead-input>
      </div>
      <div class="col-md-4 mb-3">
        <label for="reference" class="form-label required">Worksheet Number</label>
        <input type="text" id="reference" class="form-control" formControlName="reference">
      </div>

    </div>
    <div class="section-title mb-3 mt-3 col-12">
      Worksheet Entries
    </div>

    <table class="table table-bordered table-hover table-block-sm">
      <thead>
      <tr>
        <th class="entry-column">Entry Category</th>
        <th>Work Description</th>
        <th class="products-column">Total Spares used / Total Machines</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let group of entriesForm.controls;let i=index">
        <td>
          <span class="td-inline-label">Entry Category</span>
          {{group.get('category')?.value?.title}}
        </td>
        <td>
          <span class="td-inline-label">Work Description</span>
          {{group.get('workDescription')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Spares used / Machines : </span>
          {{group.get('spareEntries')?.value?.length || 0}}/
          {{group.get('productItems')?.value?.length || 0}}
        </td>
        <td>
          <div class="d-flex justify-content-end w-100">
            <button type="btn" class="btn btn-outline-danger btn-sm"
                    (click)="removeWorksheetEntry(i)">
              Remove
            </button>
          </div>
        </td>
      </tr>
      <ng-container *ngIf="entriesForm.length===0">
        <tr>
          <td colspan="5" class="text-center py-3">
            <ng-container *ngIf="form.value.client;else noDataWithClient">
              No item added. Click
              <a class="text-decoration-none" (click)="showAddEntryFormPopup()">&nbsp;here&nbsp;</a>
              to add
            </ng-container>
            <ng-template #noDataWithClient>
              Select a client to add worksheet entries
            </ng-template>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <div class="d-flex justify-content-end mb-3">
      <button type="btn" class="btn btn-outline-primary" [disabled]="!form.value.client"
              (click)="showAddEntryFormPopup()">
        + Add new entry
      </button>
    </div>

    <div class="d-flex justify-content-start mt-5">
      <button type="btn" class="btn btn-primary btn-lg btn-submit" (click)="submitForm()"
              [disabled]="form.invalid">
        Submit
      </button>
    </div>

  </div>

</form>

<app-side-popup [(show)]="showEntryFormPopup" title="New Worksheet Entry">
  <div class="row" [formGroup]="entryForm">

    <div class="col-md-6 mb-3">
      <label for="entry_category" class="form-label required">Entry Category</label>
      <select id="entry_category" class="form-select" formControlName="category"
              [compareWith]="selectedEntryCategoryComparator" (change)="onEntryCategorySelection()">
        <option *ngFor="let category of workCategories" [ngValue]="category">
          {{category.title}}
        </option>
      </select>
    </div>


    <div class="col-md-6 mb-3">
      <label for="machines_worked_on" class="form-label required">Machines worked on</label>
      <ng-select [items]="clientMachines" bindLabel="serial_number" [multiple]="true"
                 formControlName="productItems" labelForId="machines_worked_on">
        <ng-container *ngIf="clientMachines.length>0">
          <ng-template ng-header-tmp>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="selected-all"
                     (change)="onProductItemsSelectAllToggle($event)"
                     [checked]="clientMachines.length===entryForm.value.productItems.length">
              <label class="form-check-label" for="selected-all">
                <small>Select All</small>
              </label>
            </div>
          </ng-template>

        </ng-container>
        <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
          <input type="checkbox" id="item-{{index}}" [ngModel]="item$.selected"
                 [ngModelOptions]="{standalone:true}" class="form-check-input">
          {{item.serial_number}}
        </ng-template>
      </ng-select>
    </div>

    <ng-container *ngIf="machineRepairCategorySelected">
      <div class="section-title mb-3 col-12">Spares utilized</div>

      <div formArrayName="spareEntries">
        <div class="card mb-3 spare-entry"
             *ngFor="let group  of spareEntriesForm.controls let i=index"
             [formGroupName]="i">
          <div class="card-body row">
            <div class="group-header col-12" *ngIf="i!==0">
              <div class="action-group">
                  <span class="icon-button btn-delete" role="button"
                        (click)="removeSpareGroupEntry(i)">
                <fa-icon [icon]="faWindowClose" class="text-danger"></fa-icon>
              </span>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="item-" class="form-label">Item</label>
              < todo should filter only spares-->
              <product-typeahead-input controlName="item" [category]="null">
              </product-typeahead-input>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6 mb-3">
              <label for="item-" class="form-label">Total new spare used</label>
              <input type="number" min="0" class="form-control" formControlName="unused_qty">
            </div>
            <div class="col-md-6 mb-3">
              <label for="item-" class="form-label">Total old spare used</label>
              <input type="number" min="0" class="form-control" formControlName="used_qty">
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end my-2">
        <button type="button" class="btn btn-outline-dark" (click)="addSpareGroupEntry()">
          + Add spare item
        </button>
      </div>

    </ng-container>

    <div class="col-12"></div>
    <div class="col-md-6 my-3">
      <label for="work_description" class="form-label required">Work Description</label>
      <textarea id="work_description" class="form-control"
                formControlName="workDescription"></textarea>
    </div>
    <div class="col-12 my-2">
      <button type="button" class="btn btn-primary" (click)="saveEntry()"
              [disabled]="entryForm.invalid">
        ADD ENTRY
      </button>
    </div>
  </div>
</app-side-popup>
