<form [formGroup]="form" (ngSubmit)="login($event)">
  <div class="text-center">
    <h1 class="title">Sign in to continue</h1>
  </div>
  <ng-container *ngIf="this.flashMessage;else spacingPlaceholder">
    <div class="col-12 mb-3 d-flex alert error justify-content-between align-items-center">
      <div class="message">
        {{flashMessage}}
      </div>
      <div class="alert-actions">
        <div role="button" class="alert-close" (click)="flashMessage=null">×</div>
      </div>
    </div>
  </ng-container>
  <ng-template #spacingPlaceholder>
    <div class="col-12 pb-3"></div>
  </ng-template>
  <div class="col-12 mb-3">
    <label for="username" class="form-label">Email</label>
    <input type="email" class="form-control" id="username" placeholder="Email"
           formControlName="username" autocomplete="username">
  </div>
  <div class="col-12 mb-3">
    <div class="col-12 d-flex justify-content-between">
      <label for="password" class="form-label">Password</label>

      <a routerLink="/password-reset" class="text-sm-end" tabindex="-1">
        <small>Forgot your password?</small>
      </a>
    </div>
    <div class="password-input-group">
    <input [type]="revealPassword?'text':'password'" class="form-control" id="password"
           placeholder="Password"
           formControlName="password" autocomplete="current-password">
    <svg viewBox="0 0 24 24" fill="#8494A5" height="24" width="24" class="icon"
         (click)="revealPassword=!revealPassword">
      <ng-container *ngIf="revealPassword;else hidePasswordIcon">
        <use xlink:href="#showPasswordIcon"></use>
      </ng-container>
      <ng-template #hidePasswordIcon>
        <use xlink:href="#hidePasswordIcon"></use>
      </ng-template>
    </svg>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <ng-container *ngIf="submitting;else submitButton">
      <button type="button" disabled class="btn btn-primary">Logging in ...</button>
    </ng-container>
    <ng-template #submitButton>
      <button type="submit" class="btn btn-primary" (click)="login($event)">Log In</button>
    </ng-template>
  </div>
</form>
