.data-filters {
  .search {
    color: $search-input-color;
    font-size: 14px;
    line-height: $filter-control-line-height;
    border-radius: $input-border-radius;
  }
}

.form-label.required {
  &:after {
    content: "*";
    color: #171616;
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
  }
}

.password-input-group {
  white-space: nowrap;
  position: relative;
  display: block;

  .form-control {
    display: inline-block;
  }

  .icon {
    display: inline-block;
    margin: -2rem;
  }
}
