.table td {
  font-size: 14px;

  .td-inline-label {
    display: none;
  }
}

.table.table-block-sm {
  tr {
    vertical-align: middle;

    &.no-data {
      td {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  table.table-block-sm {
    width: 100%;

    thead {
      display: none;
    }

    tbody {
      display: block;
      position: relative;
      width: 100%;
      overflow-y: auto;
      border-top: solid 1px $blocked-table-row-border-top-color !important;

      tr {
        width: 100%;
        display: block;

        th {
          display: none;
        }

        td {
          border-bottom: 1px;
          display: flex;
          font-size: 0.9em;
          text-align: left !important;
          width: 100%;
          min-height: 32px;

          &:first-child {
            border-top: solid 1px $blocked-table-row-border-top-color;
          }

          &:last-child {
            border-bottom: solid 1px $blocked-table-row-border-bottom-color;
            margin-bottom: 10px;
          }
        }

        td {
          .td-inline-label {
            display: block;
            font-weight: bold;
            text-align: left;
            min-width: 45%;
          }
        }
      }
    }

  }
}
