@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.table td {
  font-size: 14px;

  .td-inline-label {
    display: none;
  }
}

.table.table-block-sm {
  tr {
    vertical-align: middle;

    &.no-data {
      td {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        text-align: center !important;
      }
    }
  }
}

.table {
  .placeholder-glow,
  .placeholder-wave {
    &:hover {
      > * {
        --bs-table-accent-bg: transparent;
      }
    }
  }

  .placeholder {
    color: $placeholder-color;
  }
}

//tablets and up
@include media-breakpoint-up(md) {
  .table {
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);

    th.product-column,
    td.product-column, {
      min-width: 180px;
      max-width: 320px;
    }
  }
}

@include media-breakpoint-down(md) {
  table.table-block-sm {
    width: 100%;

    thead {
      display: none;
    }

    tbody {
      display: block;
      position: relative;
      width: 100%;
      overflow-y: auto;
      border-top: solid 1px $blocked-table-row-border-top-color !important;

      tr {
        width: 100%;
        display: block;

        th {
          display: none;
        }

        td {
          border-bottom: 1px;
          display: flex;
          align-items: center;
          font-size: 0.9em;
          text-align: left !important;
          width: 100%;
          min-height: 32px;

          &:first-child {
            border-top: solid 1px $blocked-table-row-border-top-color;
          }

          &:last-child {
            border-bottom: solid 1px $blocked-table-row-border-bottom-color;
            margin-bottom: 10px;
          }
        }

        td {
          .td-inline-label {
            display: block;
            font-weight: bold;
            text-align: left;
            min-width: 45%;
            white-space: pre;
          }
        }
      }
    }

  }
}
