$side-menu-toggle-btn-color: #d6d9dc ;
$side-menu-toggle-btn-active-color:#485fc7;

$side-menu-border-left: #d6d9dc;
$side-menu-list-label-color: #7a7a7a;
$side-menu-link-active-color: #ffff;
$side-menu-link-active-background: #485fc7;


$main-content-background: rgba(0, 0, 0, .1);

