$primary-color: #009cde;

$font-family-base: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

$main-nav-border-bottom-color: rgba(77, 77, 77, .3);
$main-nav-user-icon-background-color: #d1d1d1;

$side-popup-header-border-color: #dbdbdb;
$side-popup-background: #fff;
$side-popup-maximize-hover-color: #cecece;
$side-popup-close-hover-color: orangered;

$side-menu-toggle-btn-color: #d6d9dc;
$side-menu-toggle-btn-active-color: #009cde;

$side-menu-border-left: #d6d9dc;
$side-menu-list-label-color: #7a7a7a;
$side-menu-link-active-color: #ffff;
$side-menu-link-active-background: #009cde;


$main-content-background: #fbfbfb;

$breadcrumb-divider: '>>';
$breadcrumb-item-color: $primary-color;

$btn-font-size: 14px;
$btn-border-radius: 0.15rem;
$btn-font-weight: 500;
$btn-padding-y: 3px;
$btn-padding-y-lg: .375rem;
$btn-padding-x-lg: .75rem;
$btn-font-size-lg: 14px;
$btn-border-radius-lg: 0.15rem;

$input-border-radius: 3px;
$search-input-color: #57606a;
$search-input-icon-color: #939393;
$filter-control-line-height: 1.3;
$filter-control-padding-y: 0.375rem;
$form-check-input-width: 1.25em;

$table-bg: #ffff;
$blocked-table-row-border-top-color: #dbdbdb;
$blocked-table-row-border-bottom-color: #dbdbdb;

$dropdown-font-size: 14px;

$timeline-main-color: #4da8de9e;
$timeline-secondary-color: #FFF;
$timeline-author-color: #0e4c4c;
$timeline-title-color: #0e4c4c;

$export-to-pdf-icon-color: orangered;

$checkout-group-card-background-color: #f7f7f7;

$popover-max-width: 400px;

:root {
  --bs-body-bg: #fbfbfb !important;
}

$placeholder-color: #c3c2c2;

$enable-validation-icons: false;
