$primary-color: #485fc7;

$side-menu-toggle-btn-color: #d6d9dc;
$side-menu-toggle-btn-active-color: #485fc7;

$side-menu-border-left: #d6d9dc;
$side-menu-list-label-color: #7a7a7a;
$side-menu-link-active-color: #ffff;
$side-menu-link-active-background: #485fc7;


$main-content-background: #f2f2f2;

$breadcrumb-divider: '>>';
$breadcrumb-item-color: $primary-color;

$btn-padding-x-sm: 0.7rem;
$btn-padding-y-sm: 2px;

$input-border-radius: 0px;
