<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div class="col-sm-6 col-md-3 data-filters">
      <input type="text" class="form-control search" placeholder="Filter"
             [formControl]="searchControl">
    </div>

    <div class="d-md-block">
      <button type="button" class="btn btn-outline-primary"
              (click)="showCreateForm()" *can="'customers.create'">
        + New Client
      </button>
    </div>

  </div>

</div>
<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Branch</th>
      <th>Region</th>
      <th>Location</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers|slice:tableCountStart:tableCountEnd">

      <td>
        <span class="td-inline-label">Name</span>
        {{customer.name}}
      </td>
      <td>
        <span class="td-inline-label">Branch</span>
        {{customer.branch}}
      </td>
      <td>
        <span class="td-inline-label">Region</span>
        {{customer.region}}
      </td>
      <td>
        <span class="td-inline-label">Location</span>
        {{customer.location}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">

              <ng-container *can="'customers.create'">
                <button ngbDropdownItem *ngIf="!customer.parent_id"
                        (click)="showCreateForm(customer)">
                  Add Branch
                </button>
              </ng-container>

              <button ngbDropdownItem (click)="showEditForm(customer)" *can="'customers.edit'">
                Edit
              </button>
              <button ngbDropdownItem (click)="deleteCustomer(customer)" *can="'customers.delete'">
                Delete
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="customers.length===0 && !loadingMainContent">
      <tr>
        <td class="text-center py-5" colspan="9">
          <ng-container *ngIf="!searchControl.value;else noResults">
            There is no customers.&nbsp;
            <a class="text-decoration-none" (click)="showCreateForm()" *can="'customers.create'">
              Click to add new item
            </a>
          </ng-container>
          <ng-template #noResults>
            No data matching filters criteria
          </ng-template>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="loadingMainContent">
      <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
        <td colspan="2">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination" (pageChange)="loadCustomers()">
    </pagination>
  </div>
</div>
<app-side-popup [(show)]="showCustomerFormPopup"
                [title]="this.model?.id?'Update Customer Details':'Create New Customer'">

  <app-customer-form [model]="this.model" #clientFormComponent>
    <div class="d-flex gap-2">

      <ng-container *ngIf="formSubmissionBusy;else submitButton">
        <button type="button" disabled class="btn btn-primary btn-lg btn-submit">
          <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
          Please wait ...
        </button>
      </ng-container>
      <ng-template #submitButton>
        <button type="submit" class="btn btn-primary" *ngIf="!this.model?.id"
                (click)="saveClientForm(clientFormComponent.form)">
          CREATE
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="this.model?.id"
                (click)="saveClientForm(clientFormComponent.form)">
          UPDATE
        </button>
      </ng-template>
      <button type="button" class="btn btn-cancel" [disabled]="formSubmissionBusy"
              (click)="this.closeCustomerFormPopup(clientFormComponent.form)">
        CANCEL
      </button>
    </div>
  </app-customer-form>

</app-side-popup>
