<typeahead-input [path]="path" [resultTemplate]="resultTemplate"
                 [outputFormatter]="outputFormatter" [customId]="customId"
                 [controlName]="controlName" [control]="control" [queryParams]="queryParams">
</typeahead-input>


<ng-template let-results="result" #resultTemplate>
  <ng-container *ngIf="results;else noResultsTemplate">
    <div class="title">
      {{results.reference}}
    </div>
    <div class="subtitle ">
      {{results?.customer?.name}}|{{results?.sn}}
    </div>
  </ng-container>
</ng-template>

<ng-template #noResultsTemplate>
  No results found
</ng-template>
