@import "variables";

.main-navbar.navbar {
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid $main-nav-border-bottom-color;
  .navbar-burger {
    position: relative;
    color: $side-menu-toggle-btn-color;
    cursor: pointer;
    display: block;
    height: 2.25rem;
    width: 2.25rem;
    margin-left: auto;
    font-size: 1em;

    span {
      padding: 1px;
      background-color: $side-menu-toggle-btn-color;
      display: block;
      height: 1px;
      left: calc(50% - 10px);
      position: absolute;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color, opacity, transform;
      transition-timing-function: ease-out;
      width: 21px;

      &:first-child {
        top: calc(50% - 8px);
      }

      &:nth-child(2) {
        top: calc(50% - 0px);
      }

      &:nth-child(3) {
        top: calc(50% + 8px);
      }
    }

  }

  .navbar-brand {
    margin-left: 0.8em;
    color: $primary-color
  }
}


aside.main-sidebar {
  border-right: 1px solid $side-menu-border-left;
  padding: 4px 0 15px 10px;
  background-color: white;

  .sidebar-menu-wrapper {
    height: 90vh;
    padding-bottom: 50px;
  }

  .menu-list {
    padding-bottom: 4px;

    .menu-list-label {
      color: $side-menu-list-label-color;
      font-size: .75em;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin-bottom: 0.3em;

      &:not(:last-of-type) {
        margin-top: 0.3em;
      }
    }

    .menu.nav {
      .nav-item {
        .nav-link {
          border-radius: 0;
          color: inherit;
          display: block;
          padding: 0.5em 0.75em;
          font-size: 14px;

          &.active {
            background: $side-menu-link-active-background;
            color: $side-menu-link-active-color;
          }

          .title {
            text-transform: capitalize;
          }
        }

        &:hover {
          background-color: lighten($primary-color, 40%);
        }
      }
    }

  }

}

main.main-content {
  padding-top: 15px;
  padding-bottom: 50px;
  background: $main-content-background;
}


:host ::ng-deep .page-header-container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 1.375rem;
    font-weight: 600;
  }

  .breadcrumb-container {
    height: 30px;
    display: grid;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;

    .breadcrumb {
      padding-left: 10px;
      list-style: none;
      margin: 0;
      font-size: 13px;

      .breadcrumb-item:not(.active) {
        color: $breadcrumb-item-color;
      }
    }
  }
}

/**Tablet and belo**/
@media (max-width: 992px) {
  aside.main-sidebar {
    //float the sidebar
    &.collapsed {
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 25%;
      max-width: 235px;
      padding-left: 8px !important;
      padding-top: 65px;
      margin-bottom: -170px;
      z-index: 1;
    }
  }
}

