@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.main-navbar.navbar {
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid $main-nav-border-bottom-color;
  position: sticky;
  top: 0;

  .navbar-toggler {
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .navbar-brand {
    margin-left: 0.8em;
    color: $primary-color;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  .nav-item {
    .nav-link {
      font-size: 14px;

      .user-icon {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background-color: $main-nav-user-icon-background-color;
      }
    }

    .download-jobs {
      .fa-layers {

        .spinner-icon {
          color: $primary-color;
          width: 25px;
        }

        .value {
          font-size: 12px;
          font-weight: bold;
          color: $primary-color;
        }
      }
    }

  }

}


aside.main-sidebar {
  border-right: 1px solid $side-menu-border-left;
  padding: 4px 0 15px 10px;
  background-color: white;

  .sidebar-menu-wrapper {
    height: 90vh;
    padding-bottom: 50px;
  }

  .menu-list {
    padding-bottom: 4px;

    .menu-list-label {
      color: $side-menu-list-label-color;
      font-size: .75em;
      letter-spacing: .1em;
      text-transform: uppercase;
      margin-bottom: 0.3em;

      &:not(:last-of-type) {
        margin-top: 0.3em;
      }
    }

    .menu.nav {
      .nav-item {
        .nav-link {
          border-radius: 0;
          color: inherit;
          display: block;
          padding: 0.5em 0.75em;
          font-size: 14px;

          &.active {
            background: $side-menu-link-active-background;
            color: $side-menu-link-active-color;
          }

          .title {
            text-transform: capitalize;
          }
        }

        &:hover {
          background-color: lighten($primary-color, 40%);
        }
      }
    }

  }

}

main.main-content {
  padding-top: 15px;
  padding-bottom: 50px;
  background: $main-content-background;
  min-height: 100vh;

  .page-header-container {
    h1 {
      font-size: 16px;
      font-weight: 600;
    }

    .breadcrumb-container {
      height: 30px;
      display: grid;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      white-space: nowrap;
      overflow-x: auto;

      .breadcrumb {
        padding-left: 0;
        list-style: none;
        margin: 0;
        font-size: 13px;

        .breadcrumb-item {
          text-transform: capitalize;

          a {
            text-decoration: none;
          }

          &:not(.active) {
            a {
              color: $breadcrumb-item-color;
            }
          }
        }
      }
    }
  }

}


/**Tablet and belo**/
@include media-breakpoint-down(lg) {
  aside.main-sidebar {
    //float the sidebar
    &.show {
      display: block !important;
      position: absolute;
      top: 0;
      left: 0;
      min-width: 25%;
      max-width: 235px;
      padding-left: 8px !important;
      padding-top: 65px;
      margin-bottom: -170px;
      z-index: 1;
    }
  }
}

@include media-breakpoint-up(md) {
  .main-navbar.navbar {
    .navbar-brand {
      font-size: $navbar-brand-font-size;
    }
  }
  .page-header-container {
    h1 {
      font-size: 1.375rem !important;
    }
  }
}
