<nav class="main-navbar navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid  flex-nowrap">
    <div class="collapse-button navbar-burger d-md-block d-lg-none" role="button"
         [ngClass]="{'is-active':this.collapseSidebar}" (click)="toggleSidebar()">
      <span></span><span></span><span></span>
    </div>
    <a routerLink="home" routerLinkActive="active" class="navbar-brand">
      {{this.appName}}
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link"></a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">

      <li class="nav-item d-inline-block" ngbDropdown placement="bottom-start"
          display="dynamic">
        <a class="nav-link" ngbDropdownToggle>Account</a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem routerLink="./settings/edit-account">Edit Account</a>
          <a ngbDropdownItem routerLink="./settings/change-password">Account Password</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="wrapper row flex-nowrap">
    <aside class="main-sidebar d-none d-lg-block  col-lg-2"
           [ngClass]="{'collapsed':this.collapseSidebar}">
      <div class="menu-list">
        <p class="menu-list-label">Home</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="home" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">Dashboard</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Inventory Requisition</p>
        <!--    Inventory movement Request-->
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="checkout-requests/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">New Request</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkout-requests" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">My Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkout-requests/verification" routerLinkActive="active"
               class="nav-link">
              <span class="icon"></span>
              <span class="title">Verify Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkout-requests/approval" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Approve Requests</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Checkout</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="checkout/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Checkout Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkout" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">Checkout History</span>
            </a>
        </ul>
      </div>

      <div class="menu-list">
        <p class="menu-list-label">Procurement Requisition</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="purchase-requisition/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">New Request</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="purchase-requisition" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">My Requests</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="purchase-requisition/check" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Requests Checking</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="purchase-requisition/approve" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Requests Approval</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Purchase Orders</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="purchase-orders/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">New Purchase Order</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="purchase-orders" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All Purchase Orders</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Request For Quotations</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="request-for-quotations/create" routerLinkActive="active"
               class="nav-link">
              <span class="icon"></span>
              <span class="title">New RQF</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="request-for-quotations" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All RFQ's</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Products Checkin</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="checkin/purchased-products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title"></span>Purchased Products</a>
          </li>
          <li class="nav-item">
            <a routerLink="checkin/leased-products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Products from Lease</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkin/demo-products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Products from Demo</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="checkin/standby-products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Products from Standby</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Products Inspection</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="inspection/purchased-products/create" routerLinkActive="active"
               class="nav-link">
              <span class="icon"></span>
              <!--  Purchase Control   -->
              <span class="title"></span>Inspection Requests</a>
          </li>
          <li class="nav-item">
            <a routerLink="inspection/purchased-products" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">Inspection History</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">GRN/RJA</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="checkin-approval/grn-and-rga/create" routerLinkActive="active"
               class="nav-link">
              <span class="icon"></span>
              <span class="title"></span>GRN/RJA Approval</a>
          </li>
          <li class="nav-item">
            <a routerLink="checkin-approval/grn-and-rga" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All GRN/RJA</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Stock Ledger</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="stock-ledger" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">Stock Ledger</span>
            </a>
            <a routerLink="stock-ledger/inventory-adjustment" routerLinkActive="active"
               class="nav-link">
              <span class="icon"></span>
              <!--     Adjust quantity on hand [stock take -with verification of quality]-->
              <span class="title">Adjust Inventory</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Inventory Products</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">All Machines</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="products" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">All Spares</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Worksheets</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="worksheets/create" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">New worksheet</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="worksheets" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All Worksheets</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Clients</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="clients/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">New Client</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="clients" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All clients</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Users</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="users" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All Users</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Roles</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="roles/create" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">New Role</span></a>
          </li>
          <li class="nav-item">
            <a routerLink="roles" routerLinkActive="active" class="nav-link"
               [routerLinkActiveOptions]="{exact:true}">
              <span class="icon"></span>
              <span class="title">All Roles</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="menu-list">
        <p class="menu-list-label">Reports</p>
        <ul class="menu nav nav-pills flex-column">
          <li class="nav-item">
            <a routerLink="reports/worksheets" routerLinkActive="active" class="nav-link">
              <span class="icon"></span>
              <span class="title">Worksheets Reports</span></a>
          </li>
        </ul>
      </div>

    </aside>
    <main class="main-content col-sm-12 col-lg-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
