<nav class="main-navbar navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid  flex-nowrap">
    <div class="collapse-button navbar-burger d-md-block d-lg-none" role="button"
         (click)="toggleSidebar()">
      <span></span><span></span><span></span>
    </div>
    <a routerLink="home" routerLinkActive="active" class="navbar-brand">
      {{this.appName}}
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link"></a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">

      <li class="nav-item" ngbDropdown display="dynamic">
        <a class="nav-link" ngbDropdownToggle role="button">Account</a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem routerLink="./settings/edit-account">Edit Account</a>
          <a ngbDropdownItem routerLink="./settings/change-password">Account Password</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="wrapper row flex-nowrap">
    <aside class="main-sidebar d-none d-lg-block  col-lg-2 min-vh-100"
           [ngClass]="{'collapsed':this.collapseSidebar}">

      <div class="sidebar-menu-wrapper overflow-auto vh-100">
        <ng-container *ngFor="let menuBlock of menuBlocks">

          <div class="menu-list" *ngIf="menuList[menuBlock].display">
            <p class="menu-list-label">
            <span class="icon">
            <ng-container *ngIf="menuList[menuBlock].icon">
              <fa-icon [icon]="menuList[menuBlock]!.icon!"></fa-icon>
            </ng-container>
            </span>
              {{menuList[menuBlock].title}}
            </p>
            <ul class="menu nav nav-pills flex-column">
              <ng-container *ngFor="let item of menuList[menuBlock].items">
                <li class="nav-item" *ngIf="item.display">
                  <a [routerLink]="item.url" routerLinkActive="active" class="nav-link"
                     [routerLinkActiveOptions]="{exact:(item?.exact!=undefined?item.exact!:true)}">
                  <span class="icon">
                  <ng-container *ngIf="item.icon">
                    <fa-icon [icon]="item!.icon!"></fa-icon>
                  </ng-container>
                  </span>
                    <span class="title">{{item.title}}</span></a>
                </li>
              </ng-container>
            </ul>
          </div>
        </ng-container>
      </div>
    </aside>
    <main class="main-content col-sm-12 col-lg-10">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
