@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

.section-title {
  font-size: 18px;
  font-weight: 600;
}

@include media-breakpoint-up(md) {
  .qty-column {
    width: 150px;
  }

  .inspection-checklist-table.table {

    .actions-column {
      width: 75px;
    }

    tbody td {
      vertical-align: middle;
    }
  }
}
