<form [formGroup]="form">

  <div class="row px-0 px-md-3 mt-4">
    <div class="col-md-3 mb-3">
      <label for="reference" class="form-label">Reference / Packaging List No.</label>
      <input type="text" class="form-control" disabled id="reference"
             [value]="model?.reference">
    </div>

    <div class="col-md-3 mb-3">
      <label for="name" class="form-label">Requested By</label>
      <input type="text" class="form-control" disabled id="name"
             [value]="authorName">
    </div>
    <div class="col-md-4 mb-3">
      <label for="created_at" class="form-label">Created On</label>
      <input type="text" class="form-control" disabled id="created_at"
             [value]="model?.created_at|date">
    </div>

    <ng-container *ngIf="requesterRemarks">
      <div class="col-md-6 mb-3">
        <label for="a_remarks" class="form-label">Requestor Remarks</label>
        <textarea id="a_remarks" class="form-control" disabled>{{requesterRemarks}}</textarea>
      </div>
    </ng-container>

  </div>

  <div class="container-fluid px-0 px-md-3">
    <table class="table table-responsive table-bordered table-hover table-block-sm">
      <thead>
      <tr>
        <th class="product-column">Item</th>
        <th>M-PN</th>
        <th>Qty Received</th>
        <th>Qty Accepted</th>
        <th>Qty Rejected</th>
      </tr>
      </thead>
      <tbody formArrayName="items">
      <tr
        *ngFor="let group of inspectionItemsForm.controls|slice:tableCountStart:tableCountEnd"
        [formGroup]="$any(group)">
        <td>
          <span class="td-inline-label">Item</span>
          <div class="d-flex flex-column">
            {{group.get('product')?.value?.item_code}}
            <small class="text-muted">
              {{
              group.get('product')?.value?.local_description ||
              group.get('product')?.value?.description}}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">M-PN</span>
          {{group.get('product')?.value?.mpn}}
        </td>
        <td>
          <span class="td-inline-label">Qty Received</span>
          {{group.get('delivered_qty')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Qty Accepted</span>
          {{group.get('delivered_qty')?.value - group.get('rejected_qty')?.value}}
        </td>
        <td class="input-column">
          <span class="td-inline-label">Qty Rejected</span>
          <input type="number" class="form-control" formControlName="rejected_qty">
          <ng-container
            *ngIf="group.get('rejected_qty')?.touched && group.get('rejected_qty')?.errors">
            <small class="text-danger"
                   *ngIf="group.get('rejected_qty')?.hasError('max')">
              Cannot exceed {{group.get('rejected_qty')?.getError('max').max}}
            </small>
            <small class="text-danger"
                   *ngIf="group.get('rejected_qty')?.hasError('min')">
              Minimum allowed is  {{group.get('rejected_qty')?.getError('min').min}}
            </small>
          </ng-container>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="pagination-col d-flex justify-content-end w-100 pr-5">
      <pagination [meta]="pagination"></pagination>
    </div>
  </div>
  <hr>
  <h2 class="section-title col-12">
    Inspection Checklist
  </h2>
  <div class="container-fluid col-md-8 px-0 px-md-3 ms-0">
    <table class="table table-block-sm inspection-checklist-table">
      <thead>
      <tr>
        <td>Feature Inspected</td>
        <td>Passed/Failed</td>
        <td class="actions-column"></td>
      </tr>
      </thead>
      <tbody formArrayName="checklist">
      <tr class="group" *ngFor="let group of inspectionChecklistForm.controls;index as i;first as f"
          [formGroup]="$any(group)">
        <td>
          <span class="td-inline-label">Feature</span>
          <input type="text" class="form-control" formControlName="feature"
                 placeholder="Feature Description">
        </td>
        <td>
          <span class="td-inline-label">Passed/Failed</span>

          <select class="form-select" formControlName="passed">
            <option [ngValue]="true">Passed</option>
            <option [ngValue]="false">Failed</option>
          </select>
        </td>
        <td>
          <div *ngIf="!f" class="d-flex justify-content-end justify-content-md-center w-100">
            <button class="bnt btn-sm btn-outline-secondary border-0"
                    (click)="removeChecklistItemFormGroup(i)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary"
              (click)="createChecklistItemFormGroup()">
        + New Checklist Item
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="remarks" class="form-label required">Remarks</label>
      <textarea id="remarks" class="form-control" formControlName="remarks" rows="4"></textarea>
    </div>
    <div class="col-12 my-3">
      <button type="submit" class="btn btn-primary btn-lg btn-submit" [disabled]="form.invalid"
              (click)="submitForm()">
        Submit
      </button>
    </div>
  </div>

</form>
