<form class="row" [formGroup]="form">

  <div class="col-md-6 mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name">
  </div>
  <div class="col-md-6"></div>
  <div class="col-md-6 mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control" id="description" formControlName="description"></textarea>
  </div>
  <div class="col-lg-6"></div>

  <div class="col-lg-10">
    <label class="form-label">Select Permissions for this role</label>
  </div>

  <div class="col-lg-10">
    <div class="table-controls d-flex justify-content-end">
      <div class="mb-3 col-lg-4 col-md-7 col-sm-12">
        <small class="help-text">
          Type 'selected' to filter only the selected ({{selectedTotal}})
        </small>
        <input type="search" placeholder="Search by name or description"
               class="form-control" [formControl]="searchControl">
      </div>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody formArrayName="permissions">
      <ng-container
        *ngFor="let group of filteredPermissionGroups|paginate:pagination; let i =index">
        <tr [formGroup]="group">
          <td>
            <input type="checkbox" class="form-check-input" id="perm-{{i}}"
                   formControlName="selected">
          </td>
          <td>
            <label for="perm-{{i}}">{{group.value.title}} </label>
          </td>
          <td>
            <label for="perm-{{i}}"> {{group.value.description}} </label>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="filteredPermissionGroups.length===0">
        <tr>
          <td class="text-center py-5" colspan="3">
            <ng-container *ngIf="!searchControl.value;else noResults">
              There is no permissions available at the moment.
            </ng-container>
            <ng-template #noResults>
              No permissions matching the filtered criteria
            </ng-template>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="pagination-col d-flex justify-content-end w-100 pr-5">
      <pagination [meta]="pagination"></pagination>
    </div>
  </div>

  <ng-content></ng-content>

</form>
