<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 gap-2 flex-wrap-reverse">
    <div class="col-sm-6 col-md-4 data-filters">
      <input type="text" class="form-control search" placeholder="Filter"
             [formControl]="searchControl">
    </div>

    <div class="d-md-block">
      <button type="button" class="btn btn-outline-primary"
              (click)="showCreateUserPopup()">
        + New user
      </button>
    </div>

  </div>


  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody *ngIf="(users|filter:this.searchControl.value) as data">
    <tr *ngFor="let user of data|paginate:pagination">

      <td>
        <span class="td-inline-label">Name</span>
        {{user.first_name}} {{user.last_name}}
      </td>
      <td>
        <span class="td-inline-label">Email</span>
        {{user?.email}}
      </td>
      <td>
        <span class="td-inline-label">Role</span>
        {{user.role?.name}}
      </td>
      <td>
        <span class="td-inline-label">Status</span>
        <span class="badge badge-status me-1"
              [ngClass]="resolveStatusIconClass(user.status)"></span>
        {{resolveUserStatus(user.status)}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">

              <button ngbDropdownItem *ngIf="user.status==='PENDING_ACTIVATION'"
                      (click)="resendInvite(user)">
                Resend invite
              </button>
              <button ngbDropdownItem (click)="showEditForm(user)">Edit</button>
              <button ngbDropdownItem *ngIf="user.status==='ACTIVE'"
                      (click)="updateStatus(user)">
                Suspend
              </button>
              <button ngbDropdownItem *ngIf="user.status==='SUSPENDED'"
                      (click)="updateStatus(user,false)">
                Unsuspend
              </button>
              <button ngbDropdownItem (click)="deleteUser(user)">Delete</button>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="this.searchControl.value && data.length==0">
      <tr class="no-data">
        <td colspan="4" class="py-3 text-center"> No data matching the searched criteria</td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination"></pagination>
  </div>


</div>
<app-side-popup [(show)]="showUserFormPopup"
                [title]="this.selectedModel?.id?'Update User Account':'Create User Account'">

  <app-user-form [roles]="roles" [model]="this.selectedModel" #userFormComponent>
    <div class="d-flex gap-2 col-12">

      <button type="submit" class="btn btn-primary" *ngIf="!this.selectedModel?.id"
              (click)="saveUserForm(userFormComponent.form)">
        CREATE
      </button>
      <button type="submit" class="btn btn-primary" *ngIf="this.selectedModel?.id"
              (click)="saveUserForm(userFormComponent.form)">
        UPDATE
      </button>
      <button type="button" class="btn btn-cancel"
              (click)="this.closeFormPopup(userFormComponent.form)">
        CANCEL
      </button>
    </div>
  </app-user-form>
</app-side-popup>
