.parent {
  position: relative;

  .icon {
    position: absolute;
    top: .45rem;
    right: 10px;

    svg {
      fill: #343a40;
    }
  }
}

.title {

}


.subtitle {
  font-size: 11px;
  white-space: normal;
}

