<div class="container mb-3 mt-3">
  <ng-container *ngIf="model && permissions.length>0">
    <app-role-form [permissions]="permissions" [model]="model" #roleForm>
      <div class="mt-3 d-flex gap-2">
        <button type="submit" [disabled]="!model.editable" class="btn btn-primary"
                (click)="update(roleForm.form)">UPDATE
        </button>
        <a routerLink="/main/roles" class="btn btn-outline-primary btn-cancel">CANCEL</a>
      </div>
    </app-role-form>
  </ng-container>


</div>
