<form [formGroup]="form" class="row">
  <ng-container *ngIf="hasParent">
    <div class="col-md-6 mb-3">
      <label for="parent_id" class="form-label required">Parent Machine</label>
      <product-typeahead-input customId="parent_id" controlName="parent" [category]="category">
      </product-typeahead-input>
    </div>
  </ng-container>
  <div class="col-12"></div>
  <div class="col-md-6 mb-3">
    <label for="item_code" class="form-label required">Item Code</label>
    <input type="text" id="item_code" class="form-control" formControlName="item_code">
  </div>
  <div class="col-md-6 mb-3">
    <label for="mpn" class="form-label">Manufacturer Part Number</label>
    <input id="mpn" type="text" class="form-control" formControlName="manufacturer_part_number">
  </div>
  <div class="col-md-6 mb-3">
    <label for="description" class="form-label required">Description</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
  </div>
  <div class="col-md-6 mb-3">
    <label for="local_description" class="form-label">Local Description</label>
    <textarea id="local_description" class="form-control"
              formControlName="local_description"></textarea>
  </div>

  <div class="col-md-6 mb-3">
    <label for="eoq" class="form-label required">Economic Order Qty</label>
    <input type="number" id="eoq" class="form-control" formControlName="economic_order_qty">
  </div>
  <div class="col-md-6 mb-3">
    <label for="minl" class="form-label required">Min Level</label>
    <input type="number" id="minl" class="form-control" formControlName="min_level">
  </div>
  <div class="col-md-6 mb-3">
    <label for="rol" class="form-label required">Reorder Level</label>
    <input type="number" id="rol" class="form-control" formControlName="reorder_level">
  </div>
  <div class="col-md-6 mb-3">
    <label for="maxl" class="form-label required">Max Level</label>
    <input type="number" id="maxl" class="form-control" formControlName="max_level">
  </div>

  <div class="col-md-6 mb-3">
    <label for="chinese_description" class="form-label">Chinese Description</label>
    <textarea id="chinese_description" class="form-control"
              formControlName="chinese_description"></textarea>
  </div>

  <ng-content></ng-content>
</form>
