<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 gap-2 flex-wrap-reverse">
    <div>

    </div>

    <div class="d-md-block">
      <button type="button" class="btn btn-outline-primary"
              (click)="showCreateProductFormPopup()" *can="'products.create'">
        + New Spare Item
      </button>
    </div>

  </div>
</div>
<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Item Code</th>
      <th>M-PN</th>
      <th>Description</th>
      <th>EOQ</th>
      <th>MIN-L</th>
      <th>RO-L</th>
      <th>MAX-L</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">

      <td>
        <span class="td-inline-label">Item Code</span>
        <div class="d-flex flex-column">
          {{product.item_code}}
          <small class="text-muted">
            {{product.local_description}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">M-PN</span>
        {{product.manufacturer_part_number}}
      </td>
      <td>
        <span class="td-inline-label">Description</span>
        {{product.description}}
      </td>
      <td data-label="EOQ">
        <span class="td-inline-label">EOQ</span>
        {{product.economic_order_qty}}
      </td>
      <td data-label="MIN-L">
        <span class="td-inline-label">MIN-L</span>
        {{product.min_level}}
      </td>
      <td data-label="RO-L">
        <span class="td-inline-label">RO-L</span>
        {{product.reorder_level}}
      </td>
      <td data-label="MAX-L">
        <span class="td-inline-label">MAX-L</span>
        {{product.max_level}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">

              <button ngbDropdownItem (click)="showProductEditForm(product)" *can="'products.edit'">
                Edit
              </button>
              <button ngbDropdownItem (click)="deleteProduct(product)" *can="'products.delete'">
                Delete
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <ng-container *ngIf="products.length===0 && !loadingMainContent">
      <tr class="no-data">
        <td class="text-center py-4" colspan="7">
          There is no data at the moment yet.
          <a role="button" class="text-decoration-none" (click)="showCreateProductFormPopup()"
             *can="'products.create'">
            Add new item
          </a>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="loadingMainContent">
      <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
        <td *ngFor="let x of [].constructor(6)">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
        <td colspan="2">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination"></pagination>
  </div>
</div>

<app-side-popup [(show)]="showProductFormPopup"
                [title]="this.selectedModel?.id?'Update Spare Item':'Create Spare Item'">
  <ng-container *ngIf="machineCategory">
    <app-product-form [model]="this.selectedModel" [hasParent]="true" [category]="machineCategory"
                      #spareFormComponent>
      <div class="d-flex gap-2">

        <ng-container *ngIf="formSubmissionBusy;else submitButton">
          <button type="button" disabled class="btn btn-primary btn-lg btn-submit">
            <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
            Please wait ...
          </button>
        </ng-container>
        <ng-template #submitButton>
          <button type="submit" class="btn btn-primary" *ngIf="!this.selectedModel?.id"
                  (click)="saveProductForm(spareFormComponent.form)">
            CREATE
          </button>
          <button type="submit" class="btn btn-primary" *ngIf="this.selectedModel?.id"
                  (click)="saveProductForm(spareFormComponent.form)">
            UPDATE
          </button>
        </ng-template>
        <button type="button" class="btn btn-cancel" [disabled]="formSubmissionBusy"
                (click)="this.closeProductFormPopup(spareFormComponent.form)">
          CANCEL
        </button>
      </div>
    </app-product-form>
  </ng-container>
</app-side-popup>
