<div class="container-fluid">

  <div class="d-flex justify-content-between align-items-center my-3 gap-2 flex-wrap-reverse">
    <div class="col-sm-6 col-md-4 data-filters">
      <input type="text" class="form-control search" placeholder="Filter"
             [formControl]="searchControl">
    </div>

    <div class="d-md-block">
      <button type="button" class="btn btn-outline-primary"
              (click)="showCreateProductFormPopup()" *can="'products.create'">
        + New Machine Item
      </button>
    </div>

  </div>

</div>
<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Item Code</th>
      <th>M-PN</th>
      <th>Description</th>
      <th>EOQ</th>
      <th>MIN-L</th>
      <th>RO-L</th>
      <th>MAX-L</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of products">
      <td>
        <span class="td-inline-label">Item Code</span>
        <div class="d-flex flex-column">
          {{prod.item_code}}
          <small class="text-muted">
            {{prod.local_description}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">M-PN</span>
        {{prod.manufacturer_part_number}}
      </td>
      <td>
        <span class="td-inline-label">Description</span>
        {{prod.description}}
      </td>
      <td data-label="EOQ">
        <span class="td-inline-label">EOQ</span>
        {{prod.economic_order_qty}}
      </td>
      <td>
        <span class="td-inline-label">MIN-L</span>
        {{prod.min_level}}
      </td>
      <td>
        <span class="td-inline-label">RO-L</span>
        {{prod.reorder_level}}
      </td>
      <td>
        <span class="td-inline-label">MAX-L</span>
        {{prod.max_level}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">

              <button ngbDropdownItem (click)="showProductEditForm(prod)"
                      *can="'productItems.edit'">
                Edit
              </button>
              <button ngbDropdownItem (click)="deleteProduct(prod)" *can="'products.delete'">
                Delete
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="products.length===0">
      <tr class="no-data">
        <td class="text-center py-4" colspan="7">
          There is no data at the moment yet.
          <a role="button" class="text-decoration-none" (click)="showCreateProductFormPopup()"
             *can="'products.create'">
            Add new item
          </a>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination"></pagination>
  </div>
</div>

<app-side-popup [(show)]="showProductFormPopup"
                [title]="this.selectedModel?.id?'Update Machine Item':'Create Machine Item'">

  <ng-container *ngIf="machineCategory">
    <app-product-form [model]="this.selectedModel" [hasParent]="false" [category]="machineCategory"
                      #machineFormComponent>
      <div class="d-flex gap-2">

        <button type="submit" class="btn btn-primary" *ngIf="!this.selectedModel?.id"
                (click)="saveProductForm(machineFormComponent.form)">
          CREATE
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="this.selectedModel?.id"
                (click)="saveProductForm(machineFormComponent.form)">
          UPDATE
        </button>
        <button type="button" class="btn btn-cancel"
                (click)="this.closeProductFormPopup(machineFormComponent.form)">
          CANCEL
        </button>
      </div>
    </app-product-form>
  </ng-container>
</app-side-popup>
