<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div class="col-sm-6 col-md-3 data-filters">
    </div>

    <div class="d-md-block">
      <a class="btn btn-outline-primary" routerLink="../create" [relativeTo]="route"
         *can="'rfq.create'">
        + New Request
      </a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Request No.</th>
      <th>Closing Date</th>
      <th>Purchase Request</th>
      <th>Created On</th>
      <th>Created By</th>
      <th>PO</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let request of requests |slice:tableCountStart:tableCountEnd">
      <td (click)="showRFQSummary(request)" role="button">
        <span class="td-inline-label">Request No.</span>
        <a class="text-decoration-none">
          {{request.sn}}
        </a>
      </td>
      <td>
        <span class="td-inline-label">Closing Date</span>
        {{request.closing_date|date}}
      </td>
      <td>
        <span class="td-inline-label">Purchase Request</span>
        <ng-template #prViewFallback> {{request.purchase_request?.sn}}</ng-template>

        <ng-container *can="'purchaseRequests.view';else prViewFallback ">
          <a *ngIf="request.purchase_request_id" target="_blank" [relativeTo]="route"
             routerLink="../../purchase-requisition/history/{{request?.purchase_request_id}}">
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            {{request.purchase_request?.sn}}
          </a>
        </ng-container>
      </td>
      <td>
        <span class="td-inline-label">Requested On</span>
        {{request.created_at|date}}
      </td>
      <td>
        <span class="td-inline-label">Created By</span>
        {{request.created_by?.first_name || ''}}
        {{request.created_by?.last_name || ''}}
      </td>
      <td>
        <span class="td-inline-label">Purchase Order</span>
        <ng-template #poViewFallback>
          {{request.purchase_order?.sn}}
        </ng-template>
        <ng-container *can="'purchaseOrder.view';else poViewFallback">
          <a *ngIf="request?.purchase_order" target="_blank" [relativeTo]="route"
             routerLink="../../purchase-orders/history/{{request?.purchase_order?.id}}">
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
            {{request.purchase_order?.sn}}
          </a>
        </ng-container>
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">
              <a routerLink="{{request.id}}" [relativeTo]="route" ngbDropdownItem>
                <fa-icon [icon]="faEye" class="icon"></fa-icon>
                View Summary
              </a>
              <button ngbDropdownItem (click)="exportRFQ(request)">
                <fa-icon [icon]="faFilePdf" class="export-pdf icon"></fa-icon>
                Export RFQ
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <ng-container *ngIf="requests.length === 0 && !loadingMainContent">
      <tr>
        <td class="text-center py-5" colspan="7">
          There are no RFQ's available at the moment.
          <a class="text-decoration-none" routerLink="../create" [relativeTo]="route"
             *can="'rfq.create'">
            Create new RFQ
          </a>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="loadingMainContent">
      <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
        <td colspan="2">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination" (pageChange)="loadRequestForQuotations()"></pagination>
  </div>
</div>

<app-side-popup [title]="'RFQ '+selectedModel?.sn||''+' Summary'"
                [(show)]="showRFQSummaryPopup" [isFullScreen]="true">

  <ng-container *ngIf="selectedModel">
    <div class="row container-fluid">

      <div class="col-12 mt-3">
        <h6>Vendors</h6>
      </div>
      <table class="table table-responsive table-bordered table-block-sm">
        <thead>
        <tr>
          <th>Business Name</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="selectedModel.vendors">
          <tr *ngFor="let vendor of selectedModel.vendors">
            <td>
              <span class="td-inline-label">Business Name</span>
              {{vendor.name}}
            </td>
            <td>
              <span class="td-inline-label">Email</span>
              {{vendor?.email}}
            </td>
            <td>
              <span class="td-inline-label">Telephone</span>
              {{vendor?.telephone}}
            </td>
            <td>
              <span class="td-inline-label">Street Address</span>
              {{vendor?.street_address}}
            </td>
            <td>
              <span class="td-inline-label">Postal Address</span>
              {{vendor?.postal_address}}
            </td>

          </tr>
        </ng-container>

        <ng-container *ngIf="!selectedModel.vendors || selectedModel.vendors.length===0">
          <tr>
            <td colspan="7">
              <div class="py-5 text-center">
                No vendors data found
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <hr class="col-12"/>
      <div class="col-12 mt-3">
        <h6>Request Items</h6>
      </div>
      <table class="table table-responsive table-bordered table-block-sm">
        <thead>
        <tr>
          <th class="product-column">Item</th>
          <th>M-PN</th>
          <th>UOM</th>
          <th>Qty Requested</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="selectedModel?.items">
          <tr *ngFor="let item of selectedModel!.items!">

            <td>
              <span class="td-inline-label">Item</span>
              <div class="d-flex flex-column">
                {{item.product?.item_code}}
                <small class="text-muted">
                  {{item.product?.local_description || item.product?.description}}
                </small>
              </div>
            </td>
            <td>
              <span class="td-inline-label">M-PN</span>
              {{item.product?.manufacturer_part_number}}
            </td>
            <td>
              <span class="td-inline-label">Unit of Measure</span>
              {{item.uom?.title}}
            </td>

            <td class="qty-cell">
              <span class="td-inline-label">Qty Requested</span>
              {{item.qty}}
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="!selectedModel?.items || selectedModel.items.length==0">
          <tr>
            <td colspan="7">
              <div class="py-5 text-center">
                No data available at the moment
              </div>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>

      <div class="mt-4">
        <button type="button" class="btn btn-primary" (click)="showRFQSummaryPopup=false">
          CLOSE
        </button>
      </div>
    </div>
  </ng-container>

</app-side-popup>
