<typeahead-input [path]="path" [resultTemplate]="resultTemplate" [controlName]="controlName"
                 [outputFormatter]="outputFormatter" [control]="control" [customId]="customId"
                 [placeholder]="placeholder" [queryParams]="queryParams">
</typeahead-input>


<ng-template let-results="result" #resultTemplate>
  <ng-container *ngIf="results;else noResultsTemplate">
    <div class="title">
      {{  results.sn }}
    </div>
    <div class="subtitle " *ngIf="results?.vendor">
      By {{results.vendor.name || ''}}
    </div>
  </ng-container>
</ng-template>

<ng-template #noResultsTemplate>
  No results found
</ng-template>
