<typeahead-input [path]="path" [resultTemplate]="resultTemplate" [controlName]="controlName"
                 [outputFormatter]="outputFormatter" [control]="control" [customId]="customId"
                 [placeholder]="placeholder" [queryParams]="queryParams">
</typeahead-input>


<ng-template let-results="result" #resultTemplate>
  <ng-container *ngIf="results;else noResultsTemplate">
    <div class="title">
      {{  results.sn }}
      <ng-container *ngIf="results.vendor">
        |       {{results.vendor?.name}}
      </ng-container>
    </div>
    <div class="subtitle " *ngIf="results?.created_by">
      By {{results.created_by.first_name }}
      {{results.created_by.last_name }}
    </div>

  </ng-container>
</ng-template>

<ng-template #noResultsTemplate>
  No results found
</ng-template>
