<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div>
      <button class="btn btn-filter "
              [ngClass]="materialRequestsFilters.collapsed?'btn-outline-secondary':'btn-secondary'"
              (click)="materialRequestsFilters.toggle()">
        <fa-icon [icon]="faFilter"></fa-icon>
        <span class="ps-2">Filters</span>
      </button>
    </div>
    <a class="btn btn-outline-primary" routerLink="../create" [relativeTo]="route"
       *can="'worksheet.create'">
      + New Request
    </a>
  </div>
  <div class="pb-3 pb-sm-3 filter-bar" #materialRequestsFilters="ngbCollapse" [ngbCollapse]="true">
    <mrn-filter-bar (filtersChanged)="filtersChanged($event)"></mrn-filter-bar>
  </div>
</div>

<div class="container-md-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Request No.</th>
      <th>Current Stage/Status</th>
      <th>Requested On</th>
      <th>Requested By</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let request of requests|slice:tableCountStart:tableCountEnd|filter:this.searchInput.value">
      <td (click)="showRequestSummary(request)" role="button">
        <span class="td-inline-label">Request No.</span>
        <a class="text-decoration-none">
          {{request.sn}}
        </a>
      </td>
      <td>
        <span class="td-inline-label">Stage/Status</span>
        <div class="d-flex flex-column">
          {{stage(request.latest_activity)}}
          <small class="text-muted">
            {{status(request.latest_activity)}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Requested On</span>
        {{request.created_at|date}}
      </td>
      <td>
        <span class="td-inline-label">Requested By</span>
        {{request.created_by?.first_name}} {{request.created_by?.last_name}}
      </td>
      <td>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary hide-dropdown-toggle border-0" id="dp"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dp">
              <a routerLink="{{request.id}}" [relativeTo]="route" ngbDropdownItem>
                <fa-icon [icon]="faEye" class="icon"></fa-icon>
                View Summary
              </a>
              <button ngbDropdownItem (click)="exportMRN(request)" *ngIf="canExportMRN(request)">
                <fa-icon [icon]="faFilePdf" class="export-pdf icon"></fa-icon>
                Export MRN
              </button>
              <button ngbDropdownItem (click)="exportSIV(request)" *ngIf="canExportSIV(request)">
                <fa-icon [icon]="faFilePdf" class="export-pdf icon"></fa-icon>
                Export SIV
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <ng-container *ngIf="requests.length===0 && !loadingMainContent">
      <tr>
        <td class="text-center py-5" colspan="9">
          <ng-container *ngIf="!searchInput.value;else noResults">
            There is no product items.&nbsp;
            <a class="text-decoration-none" routerLink="create">
              Click to add a new item
            </a>
          </ng-container>
          <ng-template #noResults>
            No data matching filtered criteria
          </ng-template>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="loadingMainContent">
      <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
        <td colspan="2">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination" (pageChange)="loadRequests()"></pagination>
  </div>
</div>
<app-side-popup [(show)]="showRequestSummaryPopup" [isFullScreen]="outlet.activeId==='items'"
                [title]="'REQUEST '+ selectedModel?.sn||''">
  <nav ngbNav activeId="logs" class="nav-tabs my-3" #outlet="ngbNav">
    <div ngbNavItem="items">
      <a ngbNavLink>Request Items</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="requestItemsTemplate"></ng-container>
      </ng-template>
    </div>
    <div ngbNavItem="logs">
      <a ngbNavLink>Activity History</a>
      <ng-template ngbNavContent>
        <ng-container *ngTemplateOutlet="requestLogsTemplate"></ng-container>
      </ng-template>
    </div>
  </nav>
  <div [ngbNavOutlet]="outlet"></div>
</app-side-popup>

<ng-template #requestItemsTemplate>
  <table class="table table-striped table-responsive table-bordered table-block-sm">
    <thead>
    <tr>
      <th>Item</th>
      <th>Purpose</th>
      <th>Client</th>
      <th>Qty Requested</th>
      <th>Qty Verified</th>
      <th>Qty Approved</th>
      <th>Qty Issued</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of selectedModel?.items">
      <td>
        <span class="td-inline-label">Item</span>
        <div class="d-flex flex-column">
          {{item.product?.item_code}}
          <small class="text-muted">
            {{item.product?.local_description || item?.product?.description}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Purpose</span>
        {{item.purpose_title}}
      </td>
      <td>
        <span class="td-inline-label">Customer</span>
        <div class="d-flex flex-column">
          {{item?.customer?.name}}
          <small class="text-muted">
            {{item?.customer?.branch || item?.customer?.region}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Qty Requested</span>
        {{item.requested_qty}}
      </td>
      <td>
        <span class="td-inline-label">Qty Verified</span>
        {{item.verified_qty}}
      </td>
      <td>
        <span class="td-inline-label">Qty Approved</span>
        {{item.approved_qty}}
      </td>
      <td>
        <span class="td-inline-label">Qty Issued</span>
        {{item.issued_qty}}
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
<ng-template #requestLogsTemplate>
  <div class="container-fluid p-0 p-md-2">
    <activity-timeline [model]="selectedModel?.activities||[]"
                       [formatTitle]="formatTimelineStageTitle">
    </activity-timeline>
  </div>
</ng-template>
