<form [formGroup]="form" class="row">
  <div class="col-md-6 mb-3">
    <label for="parent_id" class="form-label required">Parent Machine</label>
    <product-search-input customId="parent_id" controlName="parent_id">
    </product-search-input>
  </div>
  <div class="col-6"></div>
  <div class="col-6 mb-3">
    <label for="item_code" class="form-label required">Item Code</label>
    <input type="text" id="item_code" class="form-control" formControlName="item_code">
  </div>
  <div class="col-md-6 mb-3">
    <label for="mpn" class="form-label">Manufacturer Part Number</label>
    <input id="mpn" type="text" class="form-control" formControlName="mpn">
  </div>
  <div class="col-md-6 mb-3">
    <label for="description" class="form-label required">Description</label>
    <textarea id="description" class="form-control" formControlName="description"></textarea>
  </div>
  <div class="col-md-6 mb-3">
    <label for="local_description" class="form-label">Local Description</label>
    <textarea id="local_description" class="form-control"
              formControlName="local_description"></textarea>
  </div>

  <div class="col-md-6 mb-3">
    <label for="eoq" class="form-label required">EOQ</label>
    <input type="number" id="eoq" class="form-control" formControlName="eoq">
  </div>
  <div class="col-md-6 mb-3">
    <label for="minl" class="form-label required">MIN-L</label>
    <input type="number" id="minl" class="form-control" formControlName="minl">
  </div>
  <div class="col-md-6 mb-3">
    <label for="rol" class="form-label required">RO-L</label>
    <input type="number" id="rol" class="form-control" formControlName="rol">
  </div>
  <div class="col-md-6 mb-3">
    <label for="maxl" class="form-label required">MAX-L</label>
    <input type="number" id="maxl" class="form-control" formControlName="maxl">
  </div>

  <div class="col-md-6 mb-3">
    <label for="chinese_description" class="form-label">Chinese Description</label>
    <textarea id="chinese_description" class="form-control"
              formControlName="chinese_description"></textarea>
  </div>

</form>
