<div class="popup"
     [ngClass]="{'is-active':this.show,'maximize':isFullScreen,'left':showLeft,'right':!showLeft}">
  <div class="header d-flex justify-content-between">
    <div class="level-left">
      <p class="title">
        {{title}}
      </p>
    </div>
    <div class="d-flex justify-content-end">
      <div class="level-item">
        <div class="icon maximize-icon" (click)="toggleFullscreen()" *ngIf="showFullscreenIcon">
          <fa-icon [icon]="faWindowMaximize"></fa-icon>
        </div>
      </div>
      <div class="level-item">
        <div class="icon close-icon" (click)="close()" *ngIf="showCloseIcon">
          <fa-icon [icon]="faWindowClose"></fa-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <ng-content></ng-content>
  </div>
</div>
