<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">
    <div>
      <button class="btn btn-outline-secondary btn-filter" (click)="worksheetFilters.toggle()">
        <fa-icon [icon]="faFilter"></fa-icon>
        <span class="ps-2">Filters</span>
      </button>
    </div>
    <a class="btn btn-outline-primary" routerLink="../create" [relativeTo]="route"
       *can="'worksheet.create'">
      + New Request
    </a>
  </div>
  <div class="pb-3 pb-sm-3" #worksheetFilters="ngbCollapse" [ngbCollapse]="true">
    <worksheet-filter-bar (filtersChanged)="filtersChanged($event)"></worksheet-filter-bar>
  </div>
</div>

<div class="container-fluid">
  <table class="table table-hover table-block-sm">
    <thead>
    <tr>
      <th>Reference No.</th>
      <th>Worksheet No.</th>
      <th>Customer</th>
      <th>Created By</th>
      <th>Created On</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let worksheet of worksheets|slice:tableCountStart:tableCountEnd">
      <td>
        <span class="td-inline-label">Reference No.</span>
        <a class="text-decoration-none" routerLink="{{worksheet.id}}" [relativeTo]="route">
          {{worksheet.sn}}
        </a>
      </td>
      <td>
        <span class="td-inline-label">Worksheet No.</span>
        {{worksheet.reference}}
      </td>
      <td>
        <span class="td-inline-label">Customer</span>
        <div class="d-flex flex-column">
          {{worksheet?.customer?.name || '--'}}
          <small class="text-muted">
            {{worksheet?.customer?.branch || ''}} | {{worksheet?.customer?.region || ''}}
          </small>
        </div>
      </td>
      <td>
        <span class="td-inline-label">Created By</span>
        {{worksheet.created_by?.first_name}}
        {{worksheet.created_by?.last_name}}
      </td>
      <td>
        <span class="td-inline-label">Created On</span>
        {{worksheet.created_at|date}}
      </td>
      <td>
        <div class="d-flex flex-column gap-2">
        </div>
        <div class="d-flex gap-2 justify-content-end w-100">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-secondary border-0 hide-dropdown-toggle border-0"
                    ngbDropdownToggle>
              <fa-icon [icon]="faEllipsisV"></fa-icon>
            </button>

            <div ngbDropdownMenu aria-labelledby="dp">
              <a routerLink="{{worksheet.id}}" [relativeTo]="route" ngbDropdownItem>
                View all entries
              </a>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <ng-container *ngIf="worksheets.length===0 && !loadingMainContent">
      <tr>
        <td colspan="7">
          <div class="py-5 text-center">
            No worksheets entries found at moment.
          </div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="loadingMainContent">
      <tr class="placeholder-glow" *ngFor="let i of [].constructor(5)">
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td>
          <div class="placeholder w-100 py-3"></div>
        </td>
        <td colspan="2">
          <div class="placeholder w-100 h-100 py-3"></div>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination" (pageChange)="loadWorksheets()"></pagination>
  </div>
</div>
