<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-md-3 mb-3">
        <label for="purchase_request" class="form-label required">Purchase Request</label>
        <pr-typeahead-input controlName="purchase_request" customId="purchase_request"
                            with="items.product.balance" [withoutRFQ]="true"
                            (change)="onPurchaseRequestSelect()">

        </pr-typeahead-input>
      </div>
      <div class="col-md-3 mb-3">
        <label for="closing_date" class="form-label required">Closing Date </label>
        <input type="date" class="form-control" id="closing_date" formControlName="closing_date">
      </div>
      <div class="col-md-4 mb-3">
        <label for="vendors" class="form-label required">Vendors </label>
        <ng-select [items]="vendors" bindLabel="name" [multiple]="true" #vc
                   formControlName="vendors" labelForId="vendors" [closeOnSelect]="false">
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
            <input type="checkbox" id="item-{{index}}" [ngModel]="item$.selected"
                   [ngModelOptions]="{standalone:true}" class="form-check-inline">
            {{item.name}}
          </ng-template>
          <ng-template ng-footer-tmp>
            <a role="button" class="btn btn-outline-primary border-0"
               (click)="showVendorForm(vc,vendorFormComponent.form)">
              <small> + Create new vendor </small>
            </a>
          </ng-template>
        </ng-select>
      </div>

    </div>
  </div>

  <div class="container-fluid px-sm-0 px-md-3">
    <table class="table table-responsive table-bordered table-block-sm">
      <thead>
      <tr>
        <td></td>
        <th class="product-column">Item</th>
        <th>M-PN</th>
        <th>Physical Balance</th>
        <th>PR Qty</th>
        <th class="input-column">UOM</th>
        <th class="input-column">Qty Required</th>
        <th>Total Qty</th>
      </tr>
      </thead>
      <tbody formArrayName="request_items">
      <tr *ngFor="let group of requestItemsForm.controls | slice:tableCountStart:tableCountEnd;"
          [formGroup]="$any(group)">
        <td>
          <span class="td-inline-label">Include Item</span>
          <input type="checkbox" checked class="form-check-input"
                 (change)="rfqItemChecked($event,$any(group))">
        </td>
        <td>
          <span class="td-inline-label">Item</span>
          <div class="d-flex flex-column">
            {{group.get('product')?.value?.item_code}}
            <small class="text-muted">
              {{
              group.get('product')?.value?.local_description
              || group.get('product')?.value?.description
              }}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">M-PN</span>
          {{group.get('product')?.value?.mpn}}
        </td>
        <td>
          <span class="td-inline-label">Physical Balance</span>
          {{group.get('product')?.value?.balance?.stock_balance || 0}}
        </td>
        <td>
          <span class="td-inline-label">PR Qty</span>
          {{group.get('pr_item')?.value?.approved_qty || 0}}
        </td>
        <td>
          <span class="td-inline-label">UOM</span>
          <select class="form-select" formControlName="uom"  [compareWith]="uomComparator">
            <option *ngFor="let uom of unitOfMeasure"
                    [ngValue]="uom">{{uom.title}} {{uom.unit}}</option>
          </select>
        </td>
        <td>
          <span class="td-inline-label">Qty Required</span>
          <input type="number" class="form-control" min="0" formControlName="qty">
        </td>
        <td>
          <span class="td-inline-label">Total Qty</span>
          {{(group.get('uom')?.value?.unit || 0) * group.get('qty')?.value}}
        </td>
      </tr>

      <ng-container *ngIf="this.requestItemsForm.length==0">
        <tr>
          <td colspan="8">
            <div class="py-5 text-center">
              Select a purchase request to autofill request items
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="pagination-col d-flex justify-content-end w-100 pr-5">
      <pagination [meta]="pagination"></pagination>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" (click)="showAdhocRFQItemFormPopup=true">
        + Add Item
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex my-4">
      <div class="input-group submit-buttons">
        <button type="button" class="btn btn-primary btn-submit btn-lg" (click)="submitRFQForm()"
                [disabled]="this.form.invalid">
          Generate RFQ
        </button>
        <div ngbDropdown class="d-inline-block" placement="bottom-end">
          <button class="btn btn-primary dropdown-toggle-split  btn-submit btn-lg" id="dp"
                  [disabled]="this.form.invalid" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu aria-labelledby="dp">
            <button ngbDropdownItem (click)="submitRFQForm(false)">
              Submit only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<app-side-popup title="Add RFQ Item" [(show)]="showAdhocRFQItemFormPopup">

  <form class="row" [formGroup]="adhocRFQItemForm">

    <div class="mb-3 col-md-6">
      <label for="product" class="form-label">Product</label>
      <product-typeahead-input customId="product" controlName="product" [category]="null"
                               with="balance">
      </product-typeahead-input>
    </div>
    <div class="mb-3 col-md-6">
      <label for="current_balance" class="form-label">Physical Balance</label>
      <input type="text" disabled id="current_balance" class="form-control"
             [value]="adhocRFQItemForm.get('product')?.value?.balance?.stock_balance">
    </div>
    <div class="mb-3 col-md-6">
      <label for="min_l" class="form-label">MIN-L</label>
      <input type="text" disabled id="min_l" class="form-control"
             [value]="adhocRFQItemForm.get('product')?.value?.min_level||0">
    </div>
    <div class="mb-3 col-md-6">
      <label for="max_l" class="form-label">MAX-L</label>
      <input type="text" disabled id="max_l" class="form-control"
             [value]="adhocRFQItemForm.get('product')?.value?.max_level||0">
    </div>

    <div class="col-md-6 mb-3">
      <label for="qty" class="form-label">UOM</label>
      <select class="form-select" formControlName="uom">
        <option *ngFor="let uom of unitOfMeasure" [ngValue]="uom">{{uom.title}}</option>
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <label for="qty" class="form-label">Quantity Required</label>
      <input type="number" min="0" class="form-control" formControlName="qty">
    </div>
    <div class="col-12 d-flex gap-2 my-5">
      <button type="button" class="btn btn-primary" (click)="addAdhocRFQItem()">
        Done
      </button>

      <button type="button" class="btn btn-cancel" (click)="showAdhocRFQItemFormPopup=false">
        Cancel
      </button>
    </div>
  </form>
</app-side-popup>

<app-side-popup title="Create new vendor" [(show)]="showVendorCreateFormPopup">
  <app-vendor-form #vendorFormComponent>

    <div class="col-12 d-flex gap-2 mt-3">
      <button type="button" class="btn btn-primary"
              (click)="submitVendor(vendorFormComponent.form)">
        CREATE
      </button>

      <button type="button" class="btn btn-cancel" (click)="showVendorCreateFormPopup=false">
        CANCEL
      </button>
    </div>
  </app-vendor-form>
</app-side-popup>
