<app-content-header title="Purchase Requests"
                    [menuItems]="['Home','Purchase Requests','Approval']">
</app-content-header>

<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">

  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="request_id" class="form-label">Request No.</label>
      <input type="text" class="form-control" disabled id="request_id"
             [value]="formatRequestId(model?.order_id||0)">
    </div>

    <div class="col-md-3 mb-3">
      <label for="name" class="form-label">Requested By</label>
      <input type="text" class="form-control" disabled id="name"
             [value]="authorName">
    </div>
    <div class="col-md-4 mb-3">
      <label for="created_at" class="form-label">Created On</label>
      <input type="text" class="form-control" disabled id="created_at"
             [value]="model?.created_at|date">
    </div>
    <ng-container *ngIf="requesterRemarks">
      <div class="col-md-6 mb-3">
        <label for="a_remarks" class="form-label">Requestor Remarks</label>
        <textarea id="a_remarks" class="form-control" disabled>{{requesterRemarks}}</textarea>
      </div>
    </ng-container>

    <ng-container *ngIf="verificationInfo.remarks as remarks">
      <div class="col-md-6 mb-3">
        <label for="b_remarks" class="form-label">Checking Remarks</label>
        <textarea id="b_remarks" class="form-control" disabled>{{remarks}}</textarea>
      </div>
    </ng-container>

  </div>

</div>
<div class="container-md-fluid" [formGroup]="form">
  <table class="table table-responsive table-bordered table-block-sm">
    <thead>
    <tr>
      <th>Item</th>
      <th>M-PN</th>
      <th>Min</th>
      <th>Max</th>
      <th>Balance</th>
      <th>Qty requested</th>
      <th>Qty Checked</th>
      <th>Qty Approved</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="model && model.items;else noData">
      <ng-container *ngFor="let item of model.items">
        <tr formArrayName="accepted">
          <td class="product-column">
            <span class="td-inline-label">Item</span>
            <div class="d-flex flex-column">
              {{item.product?.item_code}}
              <small class="text-muted">
                {{item.product?.local_description || item?.product?.description}}
              </small>
            </div>
          </td>
          <td>
            <span class="td-inline-label">M-PN</span>
            {{item.product?.mpn}}
          </td>
          <td>
            <span class="td-inline-label">Min</span>
            {{item.product?.minl}}
          </td>
          <td>
            <span class="td-inline-label">Max</span>
            {{item.product?.maxl}}
          </td>
          <td>
            <span class="td-inline-label">Balance</span>
            {{item.product?.physical_balance}}
          </td>
          <td>
            <span class="td-inline-label">Qty Requested</span>
            <div class="text-sm-center"> {{item.qty_requested}}</div>
          </td>
          <td>
            <span class="td-inline-label">Qty Checked</span>
            <div class="text-sm-center"> {{item.qty_verified}}</div>
          </td>
          <td class="qty-cell" [formGroup]="itemAllocationFormOrCreate(item)">
            <span class="td-inline-label">Qty Approved</span>
            <div class="w-50">
              <input type="number" class="form-control" min="0" formControlName="qty_approved">
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>

    <ng-template #noData>
      <tr>
        <td colspan="7">No data</td>
      </tr>
    </ng-template>

    </tbody>
  </table>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="remarks" class="form-label">Remarks</label>
      <textarea id="remarks" class="form-control" formControlName="remarks"></textarea>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.invalid">
        Submit
      </button>
    </div>
  </div>

</div>
