<form [formGroup]="form">
  <div class="container-fluid">
    <div class="row my-4">
      <div class="col-md-3 mb-3">
        <label for="purchase_request" class="form-label">RFQ Request</label>
        <rfq-typeahead-input controlName="rfq" [withoutPO]="true" with="items.product.balance"
                             (change)="onRFQRequestSelection()">
        </rfq-typeahead-input>
      </div>
      <div class="col-md-3 mb-3">
        <label for="closing_date" class="form-label required">Doc Validity </label>
        <input type="date" class="form-control" id="closing_date" formControlName="doc_validity">
      </div>
      <div class="col-md-3 mb-3">
        <label for="vendor" class="form-label required">Vendor </label>
        <ng-select [items]="vendors" bindLabel="name" [multiple]="false" #vc
                   formControlName="vendor" labelForId="vendors">
          <ng-template let-index="index" let-item="item" let-item$="item$" ng-option-tmp>
            <input type="checkbox" id="item-{{index}}" [ngModel]="item$.selected"
                   [ngModelOptions]="{standalone:true}" class="form-check-inline">
            {{item.name}}
          </ng-template>
          <ng-template ng-footer-tmp>
            <a role="button" class="btn btn-outline-primary border-0"
               (click)="showCreateVendorForm(vc,vendorFormComponent.form)">
              <small> + Create new vendor </small>
            </a>
          </ng-template>
        </ng-select>
      </div>

      <div class="col-md-3 mb-3">
        <label for="currency" class="form-label required">PO Currency</label>
        <ng-select [items]="currencies" bindLabel="name" formControlName="currency"
                   labelForId="currency">
          <ng-template let-i="index" let-item="item" let-item$="item$" ng-option-tmp>
            <input type="checkbox" id="item-{{i}}" [ngModel]="item$.selected"
                   [ngModelOptions]="{standalone:true}" class="form-check-inline">
            {{item.name}}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="container-fluid px-sm-0 px-md-3">
    <table class="table table-responsive table-bordered table-block-sm">
      <thead>
      <tr>
        <td></td>
        <th class="product-column">Item</th>
        <th>Physical Balance</th>
        <th>RFQ Qty</th>
        <th class="qty-column">UOM</th>
        <th class="qty-column">Qty Required</th>
        <th class="price-column">Unit Price</th>
        <th class="total-column">Total</th>
      </tr>
      </thead>
      <tbody formArrayName="items">
      <ng-container *ngIf="requestItemsForm.length>0">
        <tr *ngFor="let group of requestItemsForm.controls| slice:tableCountStart:tableCountEnd"
            [formGroup]="$any(group)">
          <td>
            <span class="td-inline-label">Include Item</span>
            <input type="checkbox" [checked]="group.get('qty')?.value||0>0" class="form-check-input"
                   (change)="purchaseOrderItemChecked($event,$any(group))">
          </td>
          <td>
            <span class="td-inline-label">Item</span>
            <div class="d-flex flex-column">
              {{group.get('product')?.value?.item_code}}
              <small class="text-muted">
                {{
                group.get('product')?.value?.local_description
                || group.get('product')?.value?.description
                }}
              </small>
            </div>
          </td>
          <td>
            <span class="td-inline-label">Physical Balance	</span>
            {{group.get('product')?.value?.balance?.stock_balance || 0}}
          </td>
          <td>
            <span class="td-inline-label">PR Qty<small>(Approved)</small></span>
            {{group.get('rfq_item')?.value?.qty || 0}}
          </td>
          <td>
            <span class="td-inline-label">UOM</span>
            <select class="form-select" formControlName="uom" [compareWith]="uomComparator">
              <option *ngFor="let uom of unitOfMeasure" [ngValue]="uom">{{uom.title}}</option>
            </select>
          </td>
          <td>
            <span class="td-inline-label">Qty Required</span>
            <input type="number" class="form-control" min="0" formControlName="qty">
          </td>
          <td>
            <span class="td-inline-label">Unit Price</span>
            <input type="number" class="form-control" min="0" formControlName="unit_price">
          </td>
          <td>
            <span class="td-inline-label">Total</span>
            {{calcSubtotalPrice($any(group)) | currency:form.get('currency')?.value?.code + ' '}}
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <div class="d-flex justify-content-end">
              <strong>Total</strong>
            </div>
          </td>
          <td>
            {{calcTotalPrice|currency:form.get('currency')?.value?.code + ' '}}
          </td>
        </tr>
      </ng-container>

      <ng-container *ngIf="requestItemsForm.length===0">
        <tr>
          <td colspan="8">
            <div class="py-5 text-center">
              Search for an RFQ to autofill request items
            </div>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="pagination-col d-flex justify-content-end w-100 pr-5">
      <pagination [meta]="pagination"></pagination>
    </div>
    <div class="d-flex justify-content-end">
      <button class="btn btn-outline-primary" (click)="showAdhocLPOItemFormPopup=true">
        + Add Item
      </button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="d-flex my-4">
      <div class="input-group submit-buttons">
        <button type="button" class="btn btn-primary btn-submit btn-lg"
                (click)="submitPurchaseOrder()"
                [disabled]="this.form.invalid">
          Generate PO
        </button>
        <div ngbDropdown class="d-inline-block" placement="bottom-right">
          <button class="btn btn-primary dropdown-toggle-split  btn-submit btn-lg" id="dp"
                  [disabled]="this.form.invalid" ngbDropdownToggle>
          </button>
          <div ngbDropdownMenu aria-labelledby="dp">
            <button ngbDropdownItem (click)="submitPurchaseOrder(false)">
              Submit only
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<app-side-popup title="Add Purchase Order Item" [(show)]="showAdhocLPOItemFormPopup">

  <div class="row" [formGroup]="adhocLPOItemForm">

    <div class="mb-3 col-md-6">
      <label for="product" class="form-label required">Product</label>
      <product-typeahead-input customId="product" controlName="product" [category]="null"
                               with="balance">
      </product-typeahead-input>
    </div>
    <div class="mb-3 col-md-6">
      <label for="current_balance" class="form-label">Balance</label>
      <input type="text" disabled id="current_balance" class="form-control"
             [value]="adhocLPOItemForm.get('product')?.value?.balance?.stock_balance||0">
    </div>
    <div class="mb-3 col-md-6">
      <label for="min_l" class="form-label">MIN-L</label>
      <input type="text" disabled id="min_l" class="form-control"
             [value]="adhocLPOItemForm.get('product')?.value?.min_level||0">
    </div>
    <div class="mb-3 col-md-6">
      <label for="max_l" class="form-label">MAX-L</label>
      <input type="text" disabled id="max_l" class="form-control"
             [value]="adhocLPOItemForm.get('product')?.value?.max_level||0">
    </div>

    <div class="col-md-6 mb-3">
      <label for="uom" class="form-label required">UOM</label>
      <select class="form-select" id="uom" [compareWith]="uomComparator" formControlName="uom">
        <option *ngFor="let uom of unitOfMeasure" [ngValue]="uom">{{uom.title}}</option>
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label for="qty" class="form-label required">Quantity Required</label>
      <input type="number" id="qty" min="0" class="form-control" formControlName="qty">
    </div>

    <div class="col-md-6 mb-3">
      <label for="unit_price" class="form-label required">Unit Price</label>
      <input type="number" id="unit_price" min="0" class="form-control"
             formControlName="unit_price">
    </div>

    <div class="col-12 d-flex gap-2 my-5">
      <button type="button" class="btn btn-primary" (click)="saveAdhocLPOItemForm()">
        Done
      </button>

      <button type="button" class="btn btn-cancel" (click)="showAdhocLPOItemFormPopup=false">
        Cancel
      </button>
    </div>
  </div>
</app-side-popup>

<app-side-popup title="Create new vendor" [(show)]="showCreateVendorFormPopup">
  <app-vendor-form #vendorFormComponent>

    <div class="col-12 d-flex gap-2 mt-3">
      <button type="button" class="btn btn-primary"
              (click)="submitVendorForm(vendorFormComponent.form)">
        CREATE
      </button>

      <button type="button" class="btn btn-cancel" (click)="showCreateVendorFormPopup=false">
        CANCEL
      </button>
    </div>
  </app-vendor-form>
</app-side-popup>
