/* You can add global styles to this file, and also import other style files */

@import "styles/variables";

//start of bootstrap imports
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/utilities/api";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/list-group";

// Helpers
@import "~bootstrap/scss/helpers/text-truncation";
//end of bootstrap imports

@import "styles/table";
@import "styles/input";
@import "styles/dropdown";

.form-control.ng-invalid.ng-touched {
  border-color: red;
}

.help-text {
  font-size: 0.75em;
  color: darkgray;
}

.btn-cancel {
  box-shadow: 0 0 #0003, 0 0 #00000024, 0 0 #0000001f;
  border-color: #0000001f;
}
