<div class="wrapper d-flex flex-column justify-content-sm-evenly vh-100 ">
  <div class="row align-items-center box w-100">
    <ng-container *ngIf="logoUrl">
      <div class="col-md-6 logo-container mx-auto">
        <div>
          <img class="d-block" src="{{logoUrl}}" alt="{{appName}}">
        </div>
      </div>
    </ng-container>
    <div class="main-form-container justify-content-center"
         [ngClass]="logoUrl?'col-md-6':'col-md-12'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
