<form class="container-fluid" [formGroup]="form">
  <div class="d-flex justify-content-between align-items-center my-3 flex-wrap-reverse gap-2">

  </div>

  <div class="row">
    <div class="col-md-3 mb-3">
      <label for="request_id" class="form-label">Request No.</label>
      <input type="text" class="form-control" disabled id="request_id"
             [value]="model?.sn||''">
    </div>

    <div class="col-md-3 mb-3">
      <label for="name" class="form-label">Requested By</label>
      <input type="text" class="form-control" disabled id="name"
             [value]="name">
    </div>
    <div class="col-md-4 mb-3">
      <label for="created_at" class="form-label">Created On</label>
      <input type="text" class="form-control" disabled id="created_at"
             [value]="model?.created_at|date">
    </div>

    <ng-container *ngIf="requesterRemarks">
      <div class="col-md-6 mb-3">
        <label for="a_remarks" class="form-label">Requestor Remarks</label>
        <textarea id="a_remarks" class="form-control" disabled>{{requesterRemarks}}</textarea>
      </div>
    </ng-container>
  </div>

  <table class="table table-striped table-responsive table-bordered table-block-sm">
    <thead>
    <tr>
      <th>Item</th>
      <th>Purpose</th>
      <th>Client</th>
      <th>Worksheet</th>
      <th>Qty Requested</th>
      <th>Qty Verified</th>
    </tr>
    </thead>
    <tbody formArrayName="items">
    <ng-container *ngFor="let group of itemsForm.controls|slice:tableCountStart:tableCountEnd">
      <tr [formGroup]="$any(group)">
        <td>
          <span class="td-inline-label">Item</span>
          <div class="d-flex flex-column">
            {{group.get('product')?.value?.item_code}}
            <small class="text-muted">
              {{group.get('product')?.value?.local_description ||
            group.get('product')?.value?.description}}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">Purpose</span>
          {{group.get('purpose_title')?.value}}
        </td>
        <td>
          <span class="td-inline-label">Customer</span>
          <div class="d-flex flex-column">
            {{group.get('customer')?.value?.name}}
            <small class="text-muted">
              {{group.get('customer')?.value?.branch || group.get('customer')?.value?.region}}
            </small>
          </div>
        </td>
        <td>
          <span class="td-inline-label">Worksheet</span>
          <ng-template #worksheetViewFallback>
            {{group.get('worksheet')?.value?.sn}}
          </ng-template>
          <ng-container *can="'worksheet.view';else worksheetViewFallback">
            <a *ngIf="group.get('worksheet_id')?.value" [relativeTo]="route" target="_blank"
               routerLink="../../../worksheets/history/{{group.get('worksheet_id')?.value}}">
              <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
              {{group.get('worksheet')?.value?.sn}}
            </a>
          </ng-container>
        </td>
        <td>
          <span class="td-inline-label">Qty Requested</span>
          <div class="text-sm-center"> {{group.get('requested_qty')?.value}}</div>
        </td>
        <td class="qty-cell">
          <span class="td-inline-label">Qty Verified</span>
          <input type="number" class="form-control" formControlName="verified_qty">
          <ng-container
            *ngIf="group.get('verified_qty')?.touched && group.get('verified_qty')?.hasError('max') ">
            <small class="text-danger">
              Max allowed {{group.get('verified_qty')?.getError('max').max}}
            </small>
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="pagination-col d-flex justify-content-end w-100 pr-5">
    <pagination [meta]="pagination"></pagination>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="remarks" class="form-label required">Remarks</label>
      <textarea id="remarks" class="form-control" formControlName="remarks"></textarea>
    </div>
    <div class="col-12">
      <ng-container *ngIf="formSubmissionBusy;else submitButton">
        <button type="button" disabled class="btn btn-primary btn-lg btn-submit">
          <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
          Please wait ...
        </button>
      </ng-container>
      <ng-template #submitButton>
        <button type="button" class="btn btn-primary btn-lg btn-submit" (click)="submitForm()"
                [disabled]="form.invalid">
          SUBMIT
        </button>
      </ng-template>
    </div>
  </div>

</form>
